<!-- <button class="btn btn-link" type="button" tabindex="-1" title="first" obo-first>
	<img>
</button>
<button class="btn btn-link" type="button" tabindex="-1" title="previous" obo-previous>
	<img>
</button>
<input class="form-control" type="number" name="Page" style="width: 5rem; display: inline;" min="1" max="1"> of <label name="TotalPage"></label>
<button class="btn btn-link" type="button" tabindex="-1" title="next" obo-next>
	<img>
</button>
<button class="btn btn-link" type="button" tabindex="-1" title="last" obo-last>
	<img>
</button> -->

<li>
	<a href="javascript:void(0);" obo-first>
		<i class="fa fa-step-backward"></i>
	</a>
</li>
<li>
	<a href="javascript:void(0);" obo-previous>
		<i class="fa fa-play fa-flip-horizontal"></i>
	</a>
</li>
<li>
	<span>
		<input type="number" name="Page" min="1" max="1"> of <label name="TotalPage"></label>
	</span>
</li>
<li>
	<a href="javascript:void(0);" obo-next>
		<i class="fa fa-play"></i>
	</a>
</li>
<li>
	<a href="javascript:void(0);" obo-last>
		<i class="fa fa-step-forward"></i>
	</a>
</li>