<header class="ui-sortable-handle" role="heading">
        <h2>Add Address</h2>
    </header>
    <div role="content">
        <div class="widget-body">
            <div class="container-fluid">
        <form class="row" obo-form>
            <div class="col-sm-6">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="addresstype">Contact Type </label>
                    <div class="col-sm-8">
                        <select class="form-control" id="addresstype" name="ContactTypeID" required>
                            <option></option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="FirstName">First Name</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="FirstName" name="FirstName" pattern="[a-z]{1,15}" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="LastName">Last Name</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="LastName" name="LastName" pattern="[a-z]{1,15}" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="PhoneNumber">Phone Number</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="PhoneNumber" name="PhoneNumber">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="MobileNumber">Mobile Number</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="MobileNumber" name="MobileNumber">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="FaxNumber">Fax Number</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="FaxNumber" name="FaxNumber">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="Email">Email Address</label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control" id="Email" name="Email">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="Website">Website</label>
                    <div class="col-sm-8">
                        <input type="website" class="form-control" id="Website" name="Website">
                    </div>
                </div>
                <div obo-view="addAnotherSocialMedia"></div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="Status">Status</label>
                    <div class="col-sm-8">
                        <p class="form-control-static">Active</p>
                    </div>
                </div>
                <div class="pull-right">
                        <button type="submit" class="btn btn-success" data-style="expand-right" obo-dosave><span class="ladda-label">Save</span></button>
                        <a href="<%= _getCurrentHashOmitSuffix(1) %>" class="btn btn-default">Cancel</a>
                    </div>
            </div>
        </form>
    </div>
</div>
