<thead>
    <tr class="bg-blue">
      <th>DATE <span class="pull-right" data-parampaging-sortfield="Date"></th>
      <th>PRODUCT NAME <span class="pull-right" data-parampaging-sortfield="ProductName"></th>
      <th>SOURCE <span class="pull-right" data-parampaging-sortfield="Source"></th>
      <th>DESTINATION <span class="pull-right" data-parampaging-sortfield="Destination"></th>
      <th>TRANSFER QUANTITY <span class="pull-right" data-parampaging-sortfield="TransferQuantity"></th>
      <th class="action center">ACTION</th>
    </tr>
</thead>
<tbody></tbody>
