<td>
    <%= Title %>
</td>
<td>
    <%= DueDate %>
</td>
<td>
    <%= Priority %>
</td>
<td>
     <%= Description %>
</td>
<td>
    <%= Status %>
</td>
<td>
    <a href="<%= _getCurrentHash() %>/detail/<%= AllTasksID %>/warehouse_profile" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey">View</a>
    <a href="<%= _getCurrentHash() %>/detail/<%= AllTasksID %>/warehouse_profile" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey">Delete</a>
</td>
