<!-- scripts/app/products/ -->
<div class="row header">
    <div class="col-lg-12">
        <h4 obo-name="ProductName"></h4>
    </div>
</div>
<div class="row submenu">
    <div class="col-lg-12" obo-menu>
    </div>
</div>
<div class="card filter">
    <div class="card-block" obo-content>
    </div>
</div>
