.searchBox {
    width: 239px;
    display: inline-block;
    vertical-align: middle;
}

.searchInput {
    width: 200px;
    display: inline;
}

.mt-20 {
    margin-top: 20px;
}

.pagingCustom {
    display: table;
    margin: 0px auto;
}

.font-12em {
    font-size: 1.2em;
}

.w-6rem {
    width: 6rem;
    display: inline;
}

.border-top-0 {
    border-top: 0px;
}

.border-bottom-0 {
    border-bottom: 0px;
}

.mb-3 {
    margin-bottom: 0.75rem;
}

.modal-content {
    padding: 10px 15px;
    border-radius: 0;
}

.p-0 {
    padding: 0;
}

.bg-light {
    background-color: #f8f9fa !important;
}