<thead>
    <tr class="bg-blue">
      <th>PRODUCT NAME <span class="pull-right" data-parampaging-sortfield="ProductName"></span></th>
        <th>PRODUCT CODE <span class="pull-right" data-parampaging-sortfield="ProductCode"></span></th>
        <th>CUSTOMER <span class="pull-right" data-parampaging-sortfield="CustomerID"></th>
        <th>DANGEROUS GOODS <span class="pull-right" data-parampaging-sortfield="IsDangerousGoods"></span></th>
        <th>UNIT VALUE <span class="pull-right" data-parampaging-sortfield="UnitValue"></span></th>
        <th>ACTION</th>
    </tr>
</thead>
<tbody></tbody>
