<!-- scripts/app/customers/detail/senders_and_receivers/detail/edit -->
<div class="row">
    <div class="col-md-12">
        <h4>Edit Senders & Receivers</h4>
    </div>
</div>
<div class="card filter">
    <div class="card-block">
        <form class="container-fluid" obo-form>
            <div class="col-sm-6">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="FirstName">First Name</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="FirstName" name="FirstName" value="<%= FirstName %>">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="LastName">Last Name</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="LastName" name="LastName" value="<%= LastName %>">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="Address1">Address 1 <i class="text-danger" aria-hidden="true">*</i></label>
                    <div class="col-sm-8" obo-view="error1">
                        <input class="form-control" id="Address1" name="Address1" value="<%= Address1 %>" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="Address2">Address 2</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="Address2" name="Address2" value="<%= Address2 %>">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-8 col-sm-offset-4">
                        <select class="form-control" id="Country" name="Country">
                        <option>Select Country</option>
                      </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4 col-sm-offset-4">
                        <input class="form-control" id="Postcode" name="Postcode" value="<%= Postcode %>" placeholder="Post Code" disabled="disabled">
                    </div>
                    <div class="col-sm-4">
                        <input class="form-control" id="State" name="State" value="<%= State %>" placeholder="State" disabled="disabled">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="City"> </label>
                    <div class="col-sm-8 col-sm-offset-4">
                        <input class="form-control" name="City" value="<%= City %>" placeholder="City" disabled="disabled">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="Email">Email Address</label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control" id="Email" name="Email" value="<%= Email %>">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="PhoneNumber">Phone Number</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="PhoneNumber" name="PhoneNumber" value="<%= PhoneNumber %>">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="AccountCode">Account Code</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="AccountCode" name="AccountCode" value="<%= AccountCode %>">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="IsActive">Status</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="IsActive" name="IsActive"></select>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 pull-right">
                <div class="pull-right">
                    <a href="<%= _getCurrentHashOmitSuffix(1) %>" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey">CANCEL</a>
                    <button tyoe="button" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey" obo-dosave>SAVE</button>
                </div>
            </div>
        </form>
    </div>
</div>
