<div class="row">
    <div class="col">
        <a href="<%= _getCurrentHashToLevel(3) %>/customer_profile" class="bs-callout-active">
            <div class="card ">
                <div class="card-block">
                    <h6>Customer<br> Profile</h6>
                </div>
            </div>
        </a>
    </div>
    <div class="col">
        <a href="<%= _getCurrentHashToLevel(3) %>/products" class="bs-callout">
            <div class="card ">
                <div class="card-block">
                    <h6 class="middle-card">Products</h6>
                </div>
            </div>
        </a>
    </div>
    <div class="col">
        <a href="<%= _getCurrentHashToLevel(3) %>/orders" class="bs-callout" title="not yet released" style="cursor: context-menu;" onclick="event.preventDefault()">
            <div class="card ">
                <div class="card-block">
                    <h6 class="middle-card">Orders</h6>
                </div>
            </div>
        </a>
    </div>
    <div class="col">
        <a href="<%= _getCurrentHashToLevel(3) %>/invoices" class="bs-callout" title="not yet released" style="cursor: context-menu;" onclick="event.preventDefault()">
            <div class="card ">
                <div class="card-block">
                    <h6 class="middle-card">Invoices</h6>
                </div>
            </div>
        </a>
    </div>
    <div class="col">
        <a href="<%= _getCurrentHashToLevel(3) %>/pods" class="bs-callout" title="not yet released" style="cursor: context-menu;" onclick="event.preventDefault()">
            <div class="card ">
                <div class="card-block">
                    <h6 class="middle-card">PODs</h6>
                </div>
            </div>
        </a>
    </div>
    <div class="col">
        <a href="<%= _getCurrentHashToLevel(3) %>/addresses" class="bs-callout">
            <div class="card ">
                <div class="card-block">
                    <h6 class="middle-card">Addresses</h6>
                </div>
            </div>
        </a>
    </div>
    <div class="col">
        <a href="<%= _getCurrentHashToLevel(3) %>/contacts" class="bs-callout">
            <div class="card ">
                <div class="card-block">
                    <h6 class="middle-card">Contacts</h6>
                </div>
            </div>
        </a>
    </div>
    <div class="col">
        <a href="<%= _getCurrentHashToLevel(3) %>/sender_and_receivers" class="bs-callout">
            <div class="card ">
                <div class="card-block">
                    <h6>Senders & Receivers</h6>
                </div>
            </div>
        </a>
    </div>
</div>
