<form obo-form>
<div class="form-group row noerrormessageshow">
    <label class="col-sm-4 col-form-label" for="DangerousSubRisk"></label>
    <div class="col-sm-4">
        <select class="form-control" id="DangerousSubRisk" name="DangerousSubRisk" required>
        </select>
    </div>
    <div class="col-sm-4 noerrormessageshow">
        <select class="form-control" id="DangerousUNNumber" name="DangerousUNNumber" required>
        </select>
    </div>
</div>
<div class="form-group row noerrormessageshow">
    <label class="col-sm-4 col-form-label" for="DangerousHazchem"></label>
    <div class="col-sm-4">
        <select class="form-control" id="DangerousHazchem" name="DangerousHazchem" required>
        </select>
    </div>
    <div class="col-sm-4 noerrormessageshow">
        <select class="form-control" id="DangerousChemicalName" name="DangerousChemicalName" required>
        </select>
    </div>
</div>
<div class="form-group row noerrormessageshow">
    <label class="col-sm-4 col-form-label" for="ClassProduct"></label>
    <div class="col-sm-8">
        <select class="form-control" id="ClassProduct" name="ClassProduct" required>
        </select>
    </div>
</div>
<div class="form-group row noerrormessageshow">
    <label class="col-sm-4 col-form-label"></label>
    <div class="col-sm-8">
      <label class="file" style="width:100%;">
        <input type="file" id="file" name="file" accept=".pdf" placeholder="Material Safety Data Sheet (.pdf)">
        <span class="file-custom materialpdf"></span>
      </label>
    </div>
</div>
</form>
