<div class="row">
    <div class="col-md-10 col-md-10">
        <div class="dropdown">
<!--             <button class="btn btn-link dropdown-toggle text-muted padding-left-0rem" type="button" id="filter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <strong>Filter</strong>
                </button>
            <div class="dropdown-menu" aria-labelledby="filter">
                <button class="btn dropdown-item text-muted" type="button" obo-defaultfilter>Default</button>
                <button class="btn dropdown-item text-muted" type="button" obo-showeditfilters>Edit Filters</button>
            </div> -->

            <button class="btn btn-default dropdown-toggle btn-sm margin-bottom" type="button" id="filter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-filter" aria-hidden="true"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="filter">
                <li obo-defaultfilter>
                    <a href="javascript:void(0);">Default</a>
                </li>
                <li obo-showeditfilters>
                    <a href="javascript:void(0);">Edit Filters</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="filter margin-bottom-1rem" obo-filter></div>
        <div obo-table>
        </div>
        <div obo-paging>
        </div>
    </div>
</div>
