<!-- scripts/app/customers/detail/Contacts -->

<div class="row">
    <div class="col-md-12">
        <h4>View Contact</h4>
    </div>
</div>
<div class="card filter">
    <div class="card-block">
        <div class="container-fluid">
            <div class="col-sm-6">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="addresstype">Contact Type </label>
                    <div class="col-sm-8">
                        <p class="form-control-static text-muted"><%= ContactType.ContactTypeName %></p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="firstname">First Name</label>
                    <div class="col-sm-8">
                        <p class="form-control-static text-muted"><%= FirstName %></p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="lastname">Last Name</label>
                    <div class="col-sm-8">
                        <p class="form-control-static text-muted"><%= LastName %></p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="phonenumber">Phone Number</label>
                    <div class="col-sm-8">
                        <p class="form-control-static text-muted"><%= PhoneNumber %></p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="MobileNumber">Mobile Number</label>
                    <div class="col-sm-8">
                        <p class="form-control-static text-muted"><%= MobileNumber %></p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="faxnumber">Fax Number</label>
                    <div class="col-sm-8">
                        <p class="form-control-static text-muted"><%= FaxNumber %></p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="emailaddress">Email Address</label>
                    <div class="col-sm-8">
                        <p class="form-control-static text-muted"><%= Email %></p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="website">Website</label>
                    <div class="col-sm-8">
                        <p class="form-control-static text-muted"><%= Website %></p>
                    </div>
                </div>
                <% _.each(SocialMedias, function(data, i){ %>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="sosialmedia"> <span class="<% if (i != 0) print('hide') %>">Social Media</span></label>
                    <div class="col-sm-3">
                        <p class="form-control-static text-muted"><%= data.ProviderSocialMedia.SocialMediaName %></p>
                    </div>
                    <div class="col-sm-5">
                        <p class="form-control-static text-muted"><%= data.SocialMediaName %></p>
                    </div>

                </div>
                <% }) %>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="Status">Status</label>
                    <div class="col-sm-8">
                        <p class="form-control-static text-muted"><% print(IsActive ? 'Active':'Not Active') %></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
            </div>
            <div class="col-sm-12 pull-right">
                <div class="pull-right">
                    <a href="<%= _getCurrentHashOmitSuffix(2) %>" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey">BACK</a>
                    <a href="<%= _getCurrentHash() %>/edit" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey">EDIT</a>
                </div>
            </div>
        </div>
    </div>
</div>
