<td>
    <%= ReceivedDate %>
</td>
<td>
    <%= Reason %>
</td>
<td>
    <%= Productname %>
</td>
<td>
    <%= UnitValue %>
</td>
<td>
    <% print(GoodCondition ? 'Yes' : 'No'); %>
</td>
<td>
    <a href="<%= _getCurrentHash() %>/detail/<%= InwardGoodsID %>" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey">View</a>
</td>
