<thead>
    <tr class="bg-blue">
        <th>Address Type <span  data-parampaging-sortfield="AddressTypeName"></th>
        <th>Address 1<span  data-parampaging-sortfield="Address1"></th>
        <th>Country <span  data-parampaging-sortfield="Country"></th>
        <th>State <span  data-parampaging-sortfield="State"></th>
        <th class="center">Status <span  data-parampaging-sortfield="IsActive"></th>
    </tr>
</thead>
<tbody></tbody>
