<!-- scripts/app/products/orders -->
<div class="container-fluid">
    <div class="row">
        <h4 class="col-md-12">
            Filter  <span class="left-10"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
        </h4>
    </div>
    <form class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label class="sr-only" for="transferordernumber">Transfer Order Number</label>
                <input type="text" class="form-control" id="transferordernumber" placeholder="Transfer Order Number">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label class="sr-only" for="date">Date</label>
                <input type="text" class="form-control" id="date" placeholder="Date">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label class="sr-only" for="transferinformation">Transfer Information</label>
                <select class="form-control" id="transferinformation" placeholder="Transfer Information">
                  <option selected disabled>Transfer Information</option>
                  <option>Transfer Information A</option>
                  <option>Transfer Information B</option>
                  <option>Transfer Information C</option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label class="sr-only" for="destination">Destination</label>
                <select class="form-control" id="destination" placeholder="destination">
                  <option selected disabled>Destination</option>
                  <option>Destination A</option>
                  <option>Destination B</option>
                  <option>Destination C</option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label class="sr-only" for="transferquality">Transfer Quality</label>
                <input type="text" class="form-control" id="transferquality" placeholder="Transfer Quality">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group center">
                <button type="reset" class="btn btn-link" obo-clearfilter><i class="fa fa-times" aria-hidden="true"></i> Clear Filter</button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr class="bg-blue">
                        <th>TRANSFER ORDER NUMBER <span class="pull-right"><i class="fa fa-caret-up position-absolute isactive" aria-hidden="true"></i> <i class="fa fa-caret-down" aria-hidden="true"></i></span></th>
                        <th>DATE <span class="pull-right"><i class="fa fa-caret-up position-absolute" aria-hidden="true"></i> <i class="fa fa-caret-down" aria-hidden="true"></i></span></th>
                        <th>TRANSFER INFORMATION <span class="pull-right"><i class="fa fa-caret-up position-absolute" aria-hidden="true"></i> <i class="fa fa-caret-down" aria-hidden="true"></i></span></th>
                        <th>DESTINATION <span class="pull-right"><i class="fa fa-caret-up position-absolute" aria-hidden="true"></i> <i class="fa fa-caret-down" aria-hidden="true"></i></span></th>
                        <th>TRANSFER QUANTITY <span class="pull-right"><i class="fa fa-caret-up position-absolute" aria-hidden="true"></i> <i class="fa fa-caret-down" aria-hidden="true"></i></span></th>
                        <th class="action center">ACTION</th>
                    </tr>
                </thead>
                <tbody class="hover text-grey">
                    <tr>
                        <td>000002324</td>
                        <td>Jan 01 2017</td>
                        <td>Internal Transfer</td>
                        <td>TE112</td>
                        <td>Cooper A Conrad</td>
                        <td class="center">
                            <a href="<%= _getCurrentHash() %>/detail/1" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey">View</a>
                        </td>
                    </tr>
                    <tr>
                        <td>000023423</td>
                        <td>Feb 03 2017</td>
                        <td>Internal Transfer</td>
                        <td>GFJ56</td>
                        <td>Nathan Rubbo</td>
                        <td class="center">
                            <a href="<%= _getCurrentHash() %>/detail/2" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey">View</a>
                        </td>
                    </tr>
                    <tr>
                        <td>0000034533</td>
                        <td>Feb 04 2017</td>
                        <td>Internal Transfer</td>
                        <td>JDH345435</td>
                        <td>Zachary Tedbury</td>
                        <td class="center">
                            <a href="<%= _getCurrentHash() %>/detail/3" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey">View</a>
                        </td>
                    </tr>
                    <tr>
                        <td>000003253453</td>
                        <td>Feb 05 2017</td>
                        <td>Internal Transfer</td>
                        <td>GJD2342</td>
                        <td>Cooper A Conrad</td>
                        <td class="center">
                            <a href="<%= _getCurrentHash() %>/detail/4" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey">View</a>
                        </td>
                    </tr>
                    <tr>
                        <td>00003453543</td>
                        <td>Feb 06 2017</td>
                        <td>External Transfer</td>
                        <td>AO121</td>
                        <td>Zachary Tedbury</td>
                        <td class="center">
                            <a href="<%= _getCurrentHash() %>/detail/5" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey">View</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <nav class="center" aria-label="Page navigation">
                <b>1-4 of 45</b>
                <button class="btn btn-link text-grey disabled" type="button" tabindex="-1">
            <i class="fa fa-chevron-left" aria-hidden="true"></i> Back
          </button>
                <button class="btn btn-link" type="button" tabindex="-1">
            Next <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </button>
            </nav>
        </div>
    </div>
</div>
