<!-- scripts/app/customers/modaldialogeditfilter -->
<div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title text-muted">Edit Filter
                <div class="h7">Pick 5 filters</div>
            </h5>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterBuilding" name="Building">
                        <label for="FilterBuilding">Building</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterAisle" name="Isle">
                        <label for="FilterAisle">Aisle</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterBay" name="Bay">
                        <label for="FilterBay">Bay</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterTier" name="Tier">
                        <label for="FilterTier">Tier</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterLocationCode" name="LocationCode">
                        <label for="FilterLocationCode">Location Code</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterZoneType" name="ZoneType">
                        <label for="FilterZoneType">Zone Type</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterZoneArea" name="ZoneArea">
                        <label for="FilterZoneArea">Zone Areas</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterSKUType" name="SKUType">
                        <label for="FilterSKUType">SKU Type</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterMaximumLength" name="MaxLength">
                        <label for="FilterMaximumLength">Maximum Length</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterMaximumWidth" name="MaxWidth">
                        <label for="FilterMaximumWidth">Maximum Width</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterMaximumHeight" name="MaxHeight">
                        <label for="FilterMaximumHeight">Maximum Height</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterMaximumWeight" name="MaxWeight">
                        <label for="FilterMaximumWeight">Maximum Weight</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterMaximumQuantity" name="MaxQuantity">
                        <label for="FilterMaximumQuantity">Maximum Quantity</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterStatusStorageLocation" name="IsActive" getbyvalueonly="true">
                        <label for="FilterStatusStorageLocation">Status</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey pull-xs-right" obo-save>SAVE</button>
            <button ty[e="button" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey pull-xs-right" data-dismiss="modal">CANCEL</button>
        </div>
    </div>
</div>
