<td>
    <%= CustomerName %>
</td>
<td>
    <%= AccountNo %>
</td>
<td>
    <%= AccountOwner.AccountName %>
</td>
<td>
    <%
    var TagNames = _.map(ListCustomerTag, function(item){
        return item.TagName;
    });

    if (TagNames.length){
        TagNames = TagNames.join(', ')
    }

    print(TagNames);
%>
</td>
<td class="text-<% print(IsActive? 'default':'default');  %>">
    <%
        print(IsActive? 'Active': 'Not active')
    %>
</td>