<!-- scripts/app/customers/detail/addresses/edit -->
<header class="ui-sortable-handle" role="heading">
    <h2>Edit Address</h2>
</header>
<div role="content">
    <div class="widget-body">
        <div class="container-fluid">
            <form class="row" obo-form>
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="addresstype">Address Type </label>
                        <div class="col-sm-8">
                            <select class="form-control" id="addresstype" name="AddresstypeID"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="adress1">Address 1 <i class="text-danger" aria-hidden="true">*</i></label>
                        <div class="col-sm-8" obo-view="error1">
                            <input class="form-control" id="adress1" name="Address1" value="<%= Address1 %>" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="adress2">Address 2</label>
                        <div class="col-sm-8" obo-view="error2">
                            <input class="form-control" id="adress2" name="Address2" value="<%= Address2 %>">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="address2country"> </label>
                        <div class="col-sm-8">
                            <select class="form-control" id="address2country" name="Country"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4 col-sm-offset-4">
                            <input type="number" class="form-control" name="Postcode" value="<%= Postcode %>" placeholder="Post Code" disabled="disabled">
                        </div>
                        <div class="col-sm-4">
                            <input class="form-control" name="State" value="<%= State %>" placeholder="State" disabled="disabled">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-8 col-sm-offset-4">
                            <input class="form-control" name="City" value="<%= City %>" placeholder="City" disabled="disabled">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="firstname">First Name</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="firstname" name="FirstName" value="<%= FirstName %>">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="lastname">Last Name</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="lastname" name="LastName" value="<%= LastName %>">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="phonenumber">Phone Number</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="phonenumber" name="PhoneNumber" value="<%= PhoneNumber %>">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="FaxNumber">Fax Number</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="FaxNumber" name="FaxNumber" value="<%= FaxNumber %>">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="emailaddress">Email Address</label>
                        <div class="col-sm-8">
                            <input type="email" class="form-control" id="emailaddress" name="Email" value="<%= Email %>">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="IsActive">Status</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="IsActive" name="IsActive"></select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 pull-right">
                    <div class="pull-right">
                        <a href="<%= _getCurrentHashOmitSuffix(3) %>" type="button" class="btn btn-default">Cancel</a>
                        <button type="submit" class="btn btn-success" obo-dosave>Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
