<td><%= AddressType.AddressTypeName %></td>
<td><%= Address1 %></td>
<td><%= Country %></td>
<td><%= State %></td>
<td class="text-<% print(IsActive? 'default':'default');  %>">
  <%
      print(IsActive? 'Active': 'Not active')
  %>
</td>
<td class="center">
    <a href="<%= _getCurrentHash() %>/detail/<%= AddressID %>" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey">View</a>
</td>
