<!-- scripts/app/storage/warehouse/filter -->
<form class="row child-form-group-margin-bottom-0rem">
    <div class="col-md-2" data-filter-name="WarehouseOwnerName">
        <div class="form-group">
            <label class="sr-only" for="WarehouseOwnerName">Warehouse Owner</label>
            <select class="form-control" id="WarehouseOwnerName" name="WarehouseOwnerName">
            </select>
        </div>
    </div>
    <div class="col-md-2" data-filter-name="WarehouseName">
        <div class="form-group">
            <label class="sr-only" for="WarehouseName">Warehouse Name</label>
            <input type="text" class="form-control" id="WarehouseName" name="WarehouseName" placeholder="Warehouse Name">
        </div>
    </div>
    <div class="col-md-2" data-filter-name="Address1">
        <div class="form-group">
            <label class="sr-only" for="Address1">Address 1</label>
            <input type="text" class="form-control" id="Address1" name="Address1" placeholder="Address 1">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="Address2">
        <div class="form-group">
            <label class="sr-only" for="Address2">Address 2</label>
            <input type="text" class="form-control" id="Address2" name="Address2" placeholder="Address 2">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="Country">
        <div class="form-group">
            <label class="sr-only" for="Country">Country</label>
            <input type="text" class="form-control" id="Country" name="Country" placeholder="Country">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="PostCode">
        <div class="form-group">
            <label class="sr-only" for="PostCode">Post Code</label>
            <input type="text" class="form-control" id="PostCode" name="PostCode" placeholder="Post Code">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="State">
        <div class="form-group">
            <label class="sr-only" for="State">State</label>
            <input type="text" class="form-control" id="State" name="State" placeholder="State">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="City">
        <div class="form-group">
            <label class="sr-only" for="City">City</label>
            <input type="text" class="form-control" id="City" name="City" placeholder="City">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="Phone">
        <div class="form-group">
            <label class="sr-only" for="PhoneNumber">Phone Number</label>
            <input type="text" class="form-control" id="Phone" name="Phone" placeholder="Phone Number">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="Fax">
        <div class="form-group">
            <label class="sr-only" for="Fax">Fax Number</label>
            <input type="text" class="form-control" id="Fax" name="Fax" placeholder="Fax Number">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="Email">
        <div class="form-group">
            <label class="sr-only" for="Email">Email Address</label>
            <input type="text" class="form-control" id="Email" name="Email" placeholder="Email Address">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="ManagementType">
        <div class="form-group">
            <label class="sr-only" for="ManagementType">Management Type</label>
            <input type="text" class="form-control" id="ManagementType" name="ManagementType" placeholder="Management Type">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="WarehouseDescription">
        <div class="form-group">
            <label class="sr-only" for="WarehouseDescription">Warehouse Description</label>
            <input type="text" class="form-control" id="WarehouseDescription" name="WarehouseDescription" placeholder="Warehouse Description">
        </div>
    </div>
    <div class="col-md-2" data-filter-name="WarehouseManagerName">
        <div class="form-group">
            <label class="sr-only" for="WarehouseManagerName">Warehouse Manager</label>
            <select class="form-control" id="WarehouseManagerName" name="WarehouseManagerName">
                <option selected disabled>Warehouse Manager</option>
            </select>
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="WarehouseManagerFax">
        <div class="form-group">
            <label class="sr-only" for="WarehouseManagerFax">wM Fax Number</label>
            <input type="text" class="form-control" id="WarehouseManagerFax" name="WarehouseManagerFax" placeholder="WM Fax Number">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="WarehouseManagerEmail">
        <div class="form-group">
            <label class="sr-only" for="WarehouseManagerEmail">WM Email Address</label>
            <input type="text" class="form-control" id="WarehouseManagerEmail" name="WarehouseManagerEmail" placeholder="WM Email Address">
        </div>
    </div>
    <div class="col-md-2" data-filter-name="IsActive">
        <div class="form-group">
            <label class="sr-only" for="IsActive">Status</label>
            <select class="form-control" id="IsActive" name="IsActive" getbyvalueonly="true">
            </select>
        </div>
    </div>
    <div class="col-md-2 pull-md-right" data-filter-type="reset">
        <div class="form-group center">
            <button type="reset" class="btn btn-link" obo-clearfilter> Clear Filter</button>
        </div>
    </div>
</form>
