<div class="row header">
    <div class="col-lg-12">
        <h4 name="CustomerName" class="margin-bottom-sm"></h4>
    </div>
</div>
<div class="jarviswidget jarviswidget-sortable" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" role="widget">
    <header role="heading" class="ui-sortable-handle">
    </header>
    <div class="no-padding" role="content">
    	<div id="myTabContent" class="tab-content">
    		<div class="tab-pane active in padding-10 no-padding-bottom"></div>
    	</div>
    </div>
</div>