<div class="row header">
    <div class="col-lg-12">
        <h4 name="WarehouseName" style="min-height:1.5rem;"></h4>
    </div>
</div>
<div class="jarviswidget jarviswidget-sortable" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" role="widget">
    <header role="heading" class="ui-sortable-handle" obo-menu>
    </header>
    <div class="no-padding" role="content">
    	<div id="myTabContent" class="tab-content">
    		<div class="tab-pane active in padding-10 no-padding-bottom" obo-content></div>
    	</div>
    </div>
</div>
