<!-- scripts/app/tasks/my_tasks/add/template -->
<h4>Add Role</h4>
<div class="card">
  <div class="card-block row">
    <div class="form-group col-md-12">
      <h5 class="col-form-label col-md-3">Role<i class="text-danger">*</i></h5>
      <input class="form-control form-control-lg col-md-3" placeholder="Admin">
    </div>
    <div class="form-group col-md-12">
      <h5 class="col-form-label col-md-3">Role Description<i class="text-danger">*</i></h5>
      <textarea class="form-control form-control-lg col-md-3" rows="5" placeholder="Admin"></textarea>
    </div>
    <div class="form-group col-md-12">
      <h5 class="col-form-label col-md-3">Status</h5>
      <p class="form-control form-control-lg form-control form-control-lg-static col-md-3">Active</p>
    </div>
    <div class="form-group col-md-12">
      <a class="btn btn-secondary btn-lg btn-rounded-deep btn-blues-hover pull-right"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SAVE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></a>
      <a class="btn btn-secondary btn-lg btn-rounded-deep btn-blues-hover pull-right" href="<%= _getCurrentHashOmitSuffix(1) %>" ><p>&nbsp;&nbsp;&nbsp;CANCEL&nbsp;&nbsp;&nbsp;</p></a>
    </div>
  </div>
</div>
