<div class="col-md-2 hide" data-filter-name="FirstName">
    <div class="form-group">
        <label class="sr-only" for="FirstName">First Name</label>
        <input type="text" class="form-control" id="FirstName" placeholder="First Name" name="FirstName" pattern="[a-z]{1,15}">
    </div>
</div>
<div class="col-md-2 hide" data-filter-name="LastName">
    <div class="form-group">
        <label class="sr-only" for="LastName">Last Name</label>
        <input type="text" class="form-control" id="LastName" placeholder="Last Name" name="LastName" pattern="[a-z]{1,15}">
    </div>
</div>
<div class="col-md-2 hide" data-filter-name="Address1">
    <div class="form-group">
        <label class="sr-only" for="Address1">Address 1</label>
        <input type="text" class="form-control" id="Address1" placeholder="Address 1" name="Address1" pattern="[a-z]{1,15}">
    </div>
</div>
<div class="col-md-2 hide" data-filter-name="Address2">
    <div class="form-group">
        <label class="sr-only" for="Address2">Address 2</label>
        <input type="text" class="form-control" id="Address2" placeholder="Address 2" name="Address2" pattern="[a-z]{1,15}">
    </div>
</div>
<div class="col-md-2 hide" data-filter-name="Country">
    <div class="form-group">
        <label class="sr-only" for="State">Country</label>
        <select class="form-control" id="Country" name="Country"></select>
    </div>
</div>
<div class="col-md-2 hide" data-filter-name="Postcode">
    <div class="form-group">
        <label class="sr-only" for="Postcode">Post Code</label>
        <input type="text" class="form-control" id="Postcode" name="Postcode" placeholder="Post Code">
    </div>
</div>
<div class="col-md-2 hide" data-filter-name="State">
    <div class="form-group">
        <label class="sr-only" for="State">State</label>
        <input type="text" class="form-control" id="State" name="State" placeholder="State">
    </div>
</div>
<div class="col-md-2 hide" data-filter-name="City">
    <div class="form-group">
        <label class="sr-only" for="City">City</label>
        <input type="text" class="form-control" id="City" name="City" placeholder="City">
    </div>
</div>
<div class="col-md-2 hide" data-filter-name="Email">
    <div class="form-group">
        <label class="sr-only" for="Email">Email Address</label>
        <input type="text" class="form-control" id="Email" name="Email" placeholder="Email Address">
    </div>
</div>
<div class="col-md-2 hide" data-filter-name="PhoneNumber">
    <div class="form-group">
        <label class="sr-only" for="PhoneNumber">Phone Number</label>
        <input type="text" class="form-control" id="PhoneNumber" name="PhoneNumber" placeholder="Phone Number">
    </div>
</div>
<div class="col-md-2 hide" data-filter-name="AccountCode">
    <div class="form-group">
        <label class="sr-only" for="AccountCode">Account Code</label>
        <input type="text" class="form-control" id="AccountCode" name="AccountCode" placeholder="Account Code">
    </div>
</div>
<div class="col-md-2 hide" data-filter-name="IsActive">
    <div class="form-group">
        <label class="sr-only" for="IsActive">Status</label>
        <select class="form-control" id="IsActive" name="IsActive" getbyvalueonly="true">
        </select>
    </div>
</div>
<div class="col-md-2 pull-md-right" data-filter-type="reset">
    <div class="form-group center">
        <button type="reset" class="btn btn-link" obo-clearfilter>Clear Filter</button>
    </div>
</div>
