<!-- scripts/app/customers/detail/customer_profile/edit -->
<div class="row">
    <div class="col-md-12">
        <h4>Edit Customer</h4>
    </div>
</div>
<div class="card filter">
    <div class="card-block">
        <div class="row">
            <form class="container-fluid" obo-form>
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Customer Number</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted"><%= CustomerNo %></p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="customername">Customer Name <i class="text-danger" aria-hidden="true">*</i></label>
                        <div class="col-sm-8">
                            <input class="form-control" id="customername" name="CustomerName" value="<%= CustomerName %>" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="tradingas">Trading As</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="tradingas" name="CustomerTradingAs" value="<%= CustomerTradingAs %>">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="accountnumber">Account Number <i class="text-danger" aria-hidden="true">*</i></label>
                        <div class="col-sm-8">
                            <input class="form-control" id="accountnumber" name="AccountNo" value="<%= AccountNo %>" pattern=".{2,}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="abn">ABN</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="abn" name="CustomerABN" value="<%= CustomerABN %>">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="acn">ACN</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="acn" name="CustomerACN" value="<%= CustomerACN %>">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="AccountOwnerID">Account Owner <i class="text-danger" aria-hidden="true">*</i></label>
                        <div class="col-sm-8">
                            <select class="form-control" id="AccountOwnerID" name="AccountOwnerID" required>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="DateStart">Date Started</label>
                        <div class="input-group col-sm-8">
                          <input class="form-control" id="DateStart" name="DateStart" value="<% if (DateStart) { print(moment(DateStart, ["YYYYMMDD"]).format('LL'));}%>" date>
                          <span class="input-group-btn">
                            <button class="btn btn-secondary calendar" type="button"><span class="fa fa-calendar"></span></button>
                          </span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="Tags">Tags</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <select class="form-control" id="Tags" name="TagsValue"></select>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" obo-addtags><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="phonenumber">Phone Number</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="phonenumber" name="Phone" value="<%= Phone %>">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="mobilenumber">Mobile Number</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="mobilenumber" name="Mobile" value="<%= Mobile %>">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="faxnumber">Fax Number</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="faxnumber" name="Fax" value="<%= Fax %>">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="accounttime">Account Terms <i class="text-danger" aria-hidden="true">*</i></label>
                        <div class="col-sm-8">
                            <select class="form-control" id="PaymentTermID" name="PaymentTermID" required></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="CreditLimit">Credit Limit <i class="text-danger" aria-hidden="true">*</i></label>
                        <div class="col-sm-3">
                            <select class="form-control" id="Currency" name="Currency">
                          </select>
                        </div>
                        <div class="col-sm-5">
                            <input class="form-control" id="CreditLimit" name="CreditLimit" value="<%= CreditLimit %>" type="number" pattern=".{2,}" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="invoiceemail">Invoice Email Address</label>
                        <div class="col-sm-8">
                            <input type="email" class="form-control" id="invoiceemail" name="InvoiceEmail" value="<%= InvoiceEmail %>">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="FreightPayableID">Freight Payable by</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="FreightPayableID" name="FreightPayableID">
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="podemail">POD Email Address</label>
                        <div class="col-sm-8">
                            <input type="email" class="form-control" id="podemail" name="PodEmail" value="<%= PodEmail %>">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="Status">Status</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="Status" name="IsActive"></select>
                        </div>
                    </div>

                </div>
                <div class="col-sm-12">
                    <div class="form-group row">
                        <div class="col-sm-10 col-sm-offset-2">
                            <input class="form-control" name="TagName">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 pull-right">
                    <div class="pull-right">
                        <a href="<%= _getCurrentHashOmitSuffix(1) %>" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey">CANCEL</a>
                        <button type="submit" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey" obo-dosave><span class="ladda-label">SAVE</span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
