<!-- scripts/app/customers/detail/Contacte/edit -->

<div class="row">
    <div class="col-md-12">
        <h4>Edit Contact</h4>
    </div>
</div>
<div class="card filter">
    <div class="card-block">
        <form class="container-fluid" obo-form>
            <div class="col-sm-6">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="addresstype">Contact Type </label>
                    <div class="col-sm-8">
                        <select class="form-control" id="addresstype" name="ContactTypeID"></select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="FirstName">First Name</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="FirstName" name="FirstName" value="<%= FirstName %>">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="LastName">Last Name</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="LastName" name="LastName" value="<%= LastName %>">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="PhoneNumber">Phone Number</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="PhoneNumber" name="PhoneNumber" value="<%= PhoneNumber %>">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="MobileNumber">Mobile Number</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="MobileNumber" name="MobileNumber" value="<%= MobileNumber %>">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="FaxNumber">Fax Number</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="FaxNumber" name="FaxNumber" value="<%= FaxNumber %>">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="Email">E-mail Address</label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control" id="Email" name="Email" value="<%= Email %>">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="Website">Website</label>
                    <div class="col-sm-8">
                        <input type="website" class="form-control" id="Website" name="Website" value="<%= Website %>">
                    </div>
                </div>
                <div obo-view="addAnotherSocialMedia"></div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="IsActive">Status</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="IsActive" name="IsActive"></select>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
            </div>
            <div class="col-sm-12 pull-right">
                <div class="pull-right">
                    <a href="<%= _getCurrentHashOmitSuffix(1) %>" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey">CANCEL</a>
                    <button tyoe="submit" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey" obo-save>SAVE</button>
                </div>
            </div>
        </form>
    </div>
</div>
