<div class="row">
    <div class="col-md-12">
        <h1 class="page-header pull-left"><% this %> List</h1>
        <a class="btn btn-primary  btn-rounded-deep btn-s btn-blues-hover text-white pull-right" href="#"><i class="fa fa-plus"></i> ADD USER </a>
    </div>
    <div class="col-md-12">
        <h4 class="text-muted">Filter <i class="fa fa-caret-down"></i></h4>
    </div>
</div>
