<div class="sidebar sidebar-left sidebar-size-3 sidebar-visible-md-up sidebar-dark bg-white" id="sidebarLeft" data-scrollable>
    <a href="#" class="sidebar-brand m-b-0">
        <img src="/Scripts/img/logo.png" alt="">
    </a>
    <ul class="sidebar-menu sm-bordered sm-active-button-bg" data-name="menuSidebar" data-toggle="sidebar-collapse">
        <li class="sidebar-menu-item">
            <a class="sidebar-menu-button active" href="#">HOME</a>
        </li>
        <li class="sidebar-menu-item hide">
            <a class="sidebar-menu-button" href="#tasks">
                <img class="icon22 log_alerts" src="/Scripts/img/log_tasks.png"> TASKS
            </a>
        </li>
        <li class="sidebar-menu-item">
            <a class="sidebar-menu-button" onclick="event.preventDefault()">
                MASTER DATA
            </a>
            <ul class="sidebar-submenu">
              <li class="sidebar-menu-item">
                <a class="sidebar-menu-button" href="#customers">CUSTOMERS</a>
              </li>
              <li class="sidebar-menu-item">
                <a class="sidebar-menu-button" href="#products">PRODUCTS</a>
              </li>
              <li class="sidebar-menu-item">
                <a class="sidebar-menu-button" href="#storage/warehouse">WAREHOUSE</a>
              </li>
            </ul>
        </li>
        <li class="sidebar-menu-item">
          <a class="sidebar-menu-button" href="#storage/inward_goods">INWARD GOODS</a>
        </li>
        <li class="sidebar-menu-item hide">
            <a class="sidebar-menu-button" href="#orders">
                <img class="icon22 log_alerts" src="/Scripts/img/log_orders.png"> ORDERS
            </a>
        </li>
        <li class="sidebar-menu-item hide">
            <a class="sidebar-menu-button" onclick="event.preventDefault()">
                <img class="icon22 log_alerts" src="/Scripts/img/log_consignments.png"> CONSIGNMENTS
            </a>
            <ul class="sidebar-submenu">
              <li class="sidebar-menu-item">
                <a class="sidebar-menu-button" href="#consignments/consignment">CONSIGNMENT</a>
              </li>
              <li class="sidebar-menu-item">
                <a class="sidebar-menu-button" href="#consignments/manifest">MANIFEST</a>
              </li>
              <li class="sidebar-menu-item">
                <a class="sidebar-menu-button" href="#consignments/picking">PICKING</a>
              </li>
            </ul>
        </li>
        <li class="sidebar-menu-item hide">
            <a class="sidebar-menu-button">
                <img class="icon22 log_alerts" src="/Scripts/img/log_accounts.png"> ACCOUNTS
            </a>
        </li>
        <li class="sidebar-menu-item hide">
            <a class="sidebar-menu-button">
                <img class="icon22 log_alerts" src="/Scripts/img/log_rates.png"> RATES
            </a>
        </li>
        <li class="sidebar-menu-item hide">
            <a class="sidebar-menu-button">
                <img class="icon22 log_alerts" src="/Scripts/img/log_configuration.png"> CONFIGURATION
            </a>
            <ul class="sidebar-submenu">
              <li class="sidebar-menu-item">
                <a class="sidebar-menu-button" href="#configuration/depot">DEPOT</a>
              </li>
              <li class="sidebar-menu-item">
                <a class="sidebar-menu-button" href="#configuration/vehicles">VEHICLES</a>
              </li>
              <li class="sidebar-menu-item">
                <a class="sidebar-menu-button" href="#configuration/sub_contractors">SUB CONTRACTORS</a>
              </li>
              <li class="sidebar-menu-item">
                <a class="sidebar-menu-button" href="#configuration/dangerous_goods">DANGEROUS GOODS</a>
              </li>
              <li class="sidebar-menu-item">
                <a class="sidebar-menu-button" href="#configuration/config_settings">CONFIG SETTINGS</a>
              </li>
            </ul>
        </li>
        <li class="sidebar-menu-item hide">
            <a class="sidebar-menu-button" onclick="event.preventDefault()">
                <img class="icon22 log_alerts" src="/Scripts/img/log_storage.png"> ADMINISTRATION
            </a>
            <ul class="sidebar-submenu">
              <li class="sidebar-menu-item">
                <a class="sidebar-menu-button" href="#administration/employees">EMPLOYEES</a>
              </li>
              <li class="sidebar-menu-item">
                <a class="sidebar-menu-button" href="#administration/users">USERS</a>
              </li>
              <li class="sidebar-menu-item">
                <a class="sidebar-menu-button" href="#administration/roles">ROLES</a>
              </li>
            </ul>
        </li>
        <li class="sidebar-menu-item hide">
            <a class="sidebar-menu-button">
                <img class="icon22 log_alerts" src="/Scripts/img/log_about.png"> ABOUT
            </a>
        </li>
    </ul>
</div>
