<td><%= FirstName %></td>
<td><%= LastName %></td>
<td><%= Country %></td>
<td><%= AccountCode %></td>
<td class="text-<% print(IsActive? 'default':'default');  %>">
  <%
      print(IsActive? 'Active': 'Not active')
  %>
</td>
