<!-- scripts/app/warehouse/detail/warehouse_profile -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-md-4 col-form-label">Warehouse Owner</label>
                <div class="col-md-8">
                    <p class="form-control-static text-muted"><%
                        if (WarehouseOwner){
                            print(WarehouseOwner && WarehouseOwner.AccountName)
                        } %></p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-4 col-form-label">Warehouse Name</label>
                <div class="col-md-8">
                    <p class="form-control-static text-muted"><% print(WarehouseName) %></p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-4 col-form-label">Address 1</label>
                <div class="col-md-8">
                    <p class="form-control-static text-muted"><% print(Address1) %></p>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-8 col-md-offset-4">
                    <p class="form-control-static text-muted"><% print(Address2) %></p>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-8 col-md-offset-4">
                    <p class="form-control-static text-muted"><% print(Country && Country.CountryName) %></p>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-8 col-md-offset-4">
                    <p class="form-control-static text-muted"><% print(PostCode); %>, <% print(State) %></p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-4 col-form-label"></label>
                <div class="col-md-8 col-md-offset-4">
                    <p class="form-control-static text-muted"><% print(City); %></p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-4 col-form-label">Phone Number</label>
                <div class="col-md-8">
                    <p class="form-control-static text-muted"><% print(Phone); %></p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-4 col-form-label">Fax Number</label>
                <div class="col-md-8">
                    <p class="form-control-static text-muted"><% print(Fax); %></p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-4 col-form-label" for="email">Email Address</label>
                <div class="col-md-8">
                    <p class="form-control-static text-muted"><% print(Email); %></p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-md-4 col-form-label">Management Type </label>
                <div class="col-md-8">
                    <p class="form-control-static text-muted"><% print(WarehouseManagementType && WarehouseManagementType.WarehouseManagementTypeName); %></p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-4 col-form-label">Warehouse Description</label>
                <div class="col-md-8">
                    <p class="form-control-static text-muted" style="min-height: 5rem;"><% print(WarehouseDescription) %></p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-4 col-form-label">Warehouse Manager</label>
                <div class="col-md-8">
                    <p class="form-control-static text-muted"><% print(WarehouseManager && WarehouseManager.WarehouseManagerName) %></p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-4 col-form-label">WM Phone Number</label>
                <div class="col-md-8">
                    <p class="form-control-static text-muted"><% print(WarehouseManager.WarehousePhoneNumber) %></p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-4 col-form-label">WM Fax Number</label>
                <div class="col-md-8">
                    <p class="form-control-static text-muted"><% print(WarehouseManager.WarehouseFaxNumber) %></p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-4 col-form-label">WM Email address </label>
                <div class="col-md-8">
                    <p class="form-control-static text-muted"><% print(WarehouseManager.WarehouseEmail) %></p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-4 col-form-label">Status</label>
                <div class="col-md-8">
                    <p class="form-control-static text-<% print(IsActive ? 'success':'muted') %>"><% print(IsActive ? 'Active':'Not Active') %></p>
                </div>
            </div>

        </div>
        <div class="col-md-12 text-md-right">
            <a href="<% print(_getCurrentHash()) %>/edit" class="btn btn-primary">Edit</a>
        </div>
    </div>
</div>
