<thead>
    <tr class="bg-blue">
        <th>LOCATION CODE <span class="pull-right" data-parampaging-sortfield="LocationCode"></span></th>
        <th>ZONE TYPE <span class="pull-right" data-parampaging-sortfield="ZoneTypeName"></span></th>
        <th>ZONE AREAS <span class="pull-right" data-parampaging-sortfield="ZoneAreaName"></span></th>
        <th>SKU TYPE <span class="pull-right" data-parampaging-sortfield="SKUTypeName"></span></th>
        <th>STATUS <span class="pull-right" data-parampaging-sortfield="IsActive"></span></th>
        <th>ACTION</th>
    </tr>
</thead>
<tbody></tbody>
