<!-- scripts/app/customers/filter -->
<form class="row margin-bottom-0rem">
    <div class="col-md-2 hide" data-filter-name="insertdate">
        <div class="form-group">
            <div class="input-group">
                <label class="sr-only" for="insertdate">Date</label>
                <input type="text" class="form-control" id="insertdate" name="insertdate" bootstrap-datetimepicker="true" placeholder="Date">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button"><span class="fa fa-calendar"></span></button>
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="productname">
        <div class="form-group">
            <label class="sr-only" for="productname">Product Name</label>
            <select class="form-control" id="productname" name="productname">
                <option selected disabled>Product Name</option>
            </select>
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="StorageHistory">
        <div class="form-group">
            <label class="sr-only" for="StorageHistory">Storage History</label>
            <select class="form-control" id="StorageHistory" name="StorageHistory">
            </select>
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="AlteredDescription">
        <div class="form-group">
            <label class="sr-only" for="AlteredDescription">Altered Description</label>
            <select class="form-control" id="AlteredDescription" name="AlteredDescription">
            </select>
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="Quantity">
        <div class="form-group">
            <label class="sr-only" for="CustomerABN">Quantity</label>
            <input type="number" class="form-control" id="Quantity" name="Quantity" placeholder="Quantity">
        </div>
    </div>

    <div class="col-md-2 pull-md-right" data-filter-type="reset">
        <div class="form-group center">
            <button type="reset" class="btn btn-link" obo-clearfilter><i class="fa fa-times" aria-hidden="true"></i> Clear Filter</button>
        </div>
    </div>
</form>
