<div class="row">
    <div class="col">
        <a href="<%= _getCurrentHashOmitSuffix(1) %>/order_information" class="bs-callout">
            <div class="card ">
                <div class="card-block">
                    <h6 class="middle-card">Order Information</h6>
                </div>
            </div>
        </a>
    </div>
    <div class="col">
        <a href="<%= _getCurrentHashOmitSuffix(1) %>/transaction_log" class="bs-callout-active">
            <div class="card ">
                <div class="card-block">
                    <h6 class="middle-card">Transaction Log</h6>
                </div>
            </div>
        </a>
    </div>

    <div class="col">
        <a href="<%= _getCurrentHashOmitSuffix(1) %>/consignment" class="bs-callout">
            <div class="card ">
                <div class="card-block">
                    <h6 class="middle-card">Consignment</h6>
                </div>
            </div>
        </a>
    </div>
    <div class="col">
        <a href="<%= _getCurrentHashOmitSuffix(1) %>/pod" class="bs-callout">
            <div class="card ">
                <div class="card-block">
                    <h6 class="middle-card">POD</h6>
                </div>
            </div>
        </a>
    </div>
</div>
