.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}
.content-2 {
    padding: 20px 40px;
}
.content .form-control {
    padding: 25px 20px;
    box-shadow: 0 0;
}