<td><%= ContactType.ContactTypeName %></td>
<td><%= FirstName %></td>
<td><%= LastName %></td>
<td><%= Email %></td>
<td class="text-<% print(IsActive? 'default':'default');  %>">
    <%
        print(IsActive? 'Active': 'Not active')
    %>
</td>

