<thead>
    <tr class="bg-blue">
      <th>Contact Type <span  data-parampaging-sortfield="ContactTypeName"></th>
      <th>First Name <span  data-parampaging-sortfield="FirstName"></th>
      <th>Last Name <span  data-parampaging-sortfield="LastName"></th>
      <th>Email Address <span  data-parampaging-sortfield="Email"></th>
      <th>Status<span  data-parampaging-sortfield="Status"></th>
    </tr>
</thead>
<tbody></tbody>
