<thead>
    <tr class="bg-blue">
        <th>Received Date<span class="pull-right" data-parampaging-sortfield="ReceiveDate"></span></th>
        <th>Reason<span class="pull-right" data-parampaging-sortfield="Reason"></span></th>
        <th>Product Name <span class="pull-right" data-parampaging-sortfield="ProductName"></span></th>
        <th>Unit Value<span class="pull-right" data-parampaging-sortfield="UnitValue"></span></th>
        <th>Goods Condition <span class="pull-right" data-parampaging-sortfield="GoodCondition"></span></th>
    </tr>
</thead>
<tbody></tbody>
