<thead>
    <tr class="bg-blue">
        <th>UN Number <span class="pull-right" data-parampaging-sortfield="UnNumber"></span></th>
        <th>CLASS <span class="pull-right" data-parampaging-sortfield="Class"></span></th>
        <th>SUB RISK <span class="pull-right" data-parampaging-sortfield="SubRisk"></span></th>
        <th>HAZCHEM <span class="pull-right" data-parampaging-sortfield="Hazchem"></span></th>
        <th>CHEMICAL NAME <span class="pull-right" data-parampaging-sortfield="ChemicalName"></span></th>
        <th>ACTION</th>
    </tr>
</thead>
<tbody></tbody>
