<!-- scripts/app/products/orders -->
<div class="container-fluid">
    <div class="row">
        <h4 class="col-md-12">
            Filter  <span class="left-10"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
        </h4>
    </div>
    <form class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label class="sr-only" for="date">Date</label>
                <input type="text" class="form-control" id="date" placeholder="Date">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label class="sr-only" for="account">Account</label>
                <select class="form-control" id="account" placeholder="Account">
                  <option selected disabled>Account</option>
                  <option>Account A</option>
                  <option>Account B</option>
                  <option>Account C</option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label class="sr-only" for="information">Information</label>
                <select class="form-control" id="information" placeholder="information">
                  <option selected disabled>Information</option>
                  <option>Information A</option>
                  <option>Information B</option>
                  <option>Information C</option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label class="sr-only" for="modeofbalance">Mode of Balance</label>
                <select class="form-control" id="modeofbalance" placeholder="modeofbalance">
                  <option selected disabled>Mode of Balance</option>
                  <option>Mode of Balance A</option>
                  <option>Mode of Balance B</option>
                  <option>Mode of Balance C</option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label class="sr-only" for="balancedby">Balanced by</label>
                <select class="form-control" id="balancedby" placeholder="balancedby">
                  <option selected disabled>Balanced by</option>
                  <option>Balanced by A</option>
                  <option>Balanced by B</option>
                  <option>Balanced by C</option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group center">
                <button type="reset" class="btn btn-link" obo-clearfilter><i class="fa fa-times" aria-hidden="true"></i> Clear Filter</button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr class="bg-blue">
                        <th>DATE <span class="pull-right"><i class="fa fa-caret-up position-absolute isactive" aria-hidden="true"></i> <i class="fa fa-caret-down" aria-hidden="true"></i></span></th>
                        <th>ACCOUNT <span class="pull-right"><i class="fa fa-caret-up position-absolute" aria-hidden="true"></i> <i class="fa fa-caret-down" aria-hidden="true"></i></span></th>
                        <th>BALANCE INFORMATION <span class="pull-right"><i class="fa fa-caret-up position-absolute" aria-hidden="true"></i> <i class="fa fa-caret-down" aria-hidden="true"></i></span></th>
                        <th>MODE OF BALANCE <span class="pull-right"><i class="fa fa-caret-up position-absolute" aria-hidden="true"></i> <i class="fa fa-caret-down" aria-hidden="true"></i></span></th>
                        <th>BALANCED BY <span class="pull-right"><i class="fa fa-caret-up position-absolute" aria-hidden="true"></i> <i class="fa fa-caret-down" aria-hidden="true"></i></span></th>
                        <th class="action center">ACTION</th>
                    </tr>
                </thead>
                <tbody class="hover text-grey">
                    <tr>
                        <td>Jan 01 2017</td>
                        <td>Warehouse Company 1</td>
                        <td>Damaged Goods</td>
                        <td>Value Balance</td>
                        <td>Cooper A Conrad</td>
                        <td class="center">
                            <a href="<%= _getCurrentHash() %>/detail/1" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey">View</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Feb 03 2017</td>
                        <td>Warehouse Admin</td>
                        <td>Inventory Revaluation</td>
                        <td>Value Balance</td>
                        <td>Nathan Rubbo</td>
                        <td class="center">
                            <a href="<%= _getCurrentHash() %>/detail/2" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey">View</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Feb 04 2017</td>
                        <td>Warehouse Manager</td>
                        <td>Stolen Goods</td>
                        <td>Quantity Balance</td>
                        <td>Zachary Tedbury</td>
                        <td class="center">
                            <a href="<%= _getCurrentHash() %>/detail/3" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey">View</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Feb 05 2017</td>
                        <td>Warehouse Manager</td>
                        <td>Stock Written Off</td>
                        <td>Value Balance</td>
                        <td>Cooper A Conrad</td>
                        <td class="center">
                            <a href="<%= _getCurrentHash() %>/detail/4" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey">View</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Feb 06 2017</td>
                        <td>Warehouse Admin</td>
                        <td>Damaged Goods</td>
                        <td>Value Balance</td>
                        <td>Zachary Tedbury</td>
                        <td class="center">
                            <a href="<%= _getCurrentHash() %>/detail/5" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey">View</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <nav class="center" aria-label="Page navigation">
                <b>1-4 of 45</b>
                <button class="btn btn-link text-grey disabled" type="button" tabindex="-1">
            <i class="fa fa-chevron-left" aria-hidden="true"></i> Back
          </button>
                <button class="btn btn-link" type="button" tabindex="-1">
            Next <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </button>
            </nav>
        </div>
    </div>
</div>
