body {
    background-color: #f8f9fc;
}

.bg-grey-300 {
    background-color: #E0E0E0;
}

.sidebar-dark .sm-active-button-bg .active>.sidebar-menu-button, .sidebar-dark .sm-active-button-bg .active>.sidebar-menu-button .sidebar-menu-icon, .sidebar-dark .sm-active-button-bg .active>.sidebar-menu-button:not(:only-child):before {
    color: #b9c0c3!important;
    font-weight: bold;
}

.sidebar-dark .sm-bordered {
    border-bottom: none!important;
}

.sidebar-menu {
    margin-top: 20px;
}

.sidebar-brand {
    margin-left: 19px;
}

.sidebar-dark.sidebar-left {
    box-shadow: 6px 0px 5px -5px rgba(153, 153, 153, 0.31), -6px 0px 5px -9px #999;
}

.navbar.navbar-fixed-top {
    box-shadow: 6px 0px 5px -5px rgba(153, 153, 153, 0.4), 6px 0px 5px 5px rgba(153, 153, 153, 0.15)!important;
}

img.icon22 {
    width: 22px;
}

.sidebar-menu img.icon22 {
    margin-top: -6px;
    margin-right: 10px;
}

.sidebar-menu-button {
    padding-left: 32.75px;
}

.sidebar-menu-item {
    border-left: 4px solid #ffffff;
}

.sidebar-menu > .sidebar-menu-item > a.active {
    border-left: 4px solid #00aeef;
}

.sidebar-menu-item a.active{
    font-weight: bold;
}

.sidebar-dark .sidebar-menu-button, .sidebar-dark .sidebar-menu-button, .sidebar-dark .sidebar-menu-button:not(:only-child):before {
    color: #869097!important
}

.sidebar-dark .sidebar-menu-button:hover, .sidebar-dark .sidebar-menu-item.active .sidebar-menu-button {
    color: #4d555a!important
}

@media (min-width: 544px) {
    .form-inline .col-md-2 .form-control {
        width: 210px;
    }
    .form-inline .col-md-3 .form-control {
        width: 210px;
    }
}

.table td, .table th {
    line-height: 2.5!important;
    border-top: 1px solid rgba(236, 238, 239, 0.21);
}

.hover tr:hover {
    -webkit-box-shadow: -1px 0px 20px -2px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: -1px 0px 20px -2px rgba(0, 0, 0, 0.42);
    box-shadow: -1px 0px 20px -2px rgba(0, 0, 0, 0.42);
}

.btn-blues-hover:hover {
    color: #fff;
    background-color: #039BE5!important;
    border-color: #039BE5!important;
}

.bg-blue {
    background: #e8f0f9;
}

.table thead th {
    font-weight: normal;
}

.sidebar-menu-button {
    cursor: pointer;
}

.sidebar-submenu .sidebar-menu-button {
    padding-left: 65.75px;
}

.sidebar-dark .open {
    background: rgba(0, 0, 0, 0);
}


/*.card-block .form-group {
    margin-bottom: auto;
}*/

.center-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.bootstrap-tagsinput .tag, .btn-secondary {
    color: #4d555a;
}

.btn-secondary {
    background-color: #F0F5F8;
    border-color: #EFf4f6;
}

.text-grey {
    color: #869097;
}

.margin-top-1rem {
    margin-top: 1rem;
}

.margin-bottom-0rem {
    margin-bottom: 0rem;
}

.margin-bottom-1rem {
    margin-bottom: 1rem;
}

.margin-bottom-125rem {
    margin-bottom: 1.25rem;
}

.margin-bottom-15rem {
    margin-bottom: 1.5rem;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.padding-left-0rem {
    padding-left: 0rem;
}

.padding-right-0rem {
    padding-right: 0rem;
}

.top7 {
    margin-top: 7px;
}

.top10 {
    margin-top: 10px;
}

.top15 {
    margin-top: 15px;
}

.top17 {
    margin-top: 17px;
}

.top30 {
    margin-top: 30px;
}

.left-10 {
    margin-left: 10px;
}

.position-absolute {
    position: absolute;
}

.bg-blue th>span {
    /*padding-top: 5px;*/
}

th.action {
    vertical-align: initial!important;
}

table thead tr th {
    font-size: 14px;
    color: #8098a4;
}

.card-group a {
    vertical-align: middle!important;
}

table thead th span .fa-caret-down, table thead th span .fa-caret-up {
    color: #ccc;
}

table thead th span .isactive {
    color: #039be5;
}

.middle-card {
    padding-top: 14px;
}

.submenu-content .card {
    min-height: 82px;
    box-shadow: none;
    border: none;
}

.submenu-content .col, .menu-product .col {
    padding-right: 5px;
    padding-left: 5px;
}

.submenu-content a {
    color: #c9d0d4;
    text-decoration: none;
}

.submenu-content .bs-callout-active .card {
    border-left: 4px solid #00aeef;
}

.submenu-content .bs-callout-active>.card>.card-block {
    margin-left: -4px;
}

.submenu-content .bs-callout-active {
    color: #4d555a;
}

.submenu-content.storage {
    padding-left: 10px;
    padding-right: 10px;
}

ul.navbar-nav {
    right: 2.5rem;
    position: absolute;
}

.text-white {
    color: #ffffff;
}

.h7 {
    font-size: 0.75rem;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}

.form-control.form-control-static {
    border: none;
    padding: 0rem;
}

.main-content>.header {
    margin-bottom: 0.5rem;
}

.main-content>.header>div>h3 {
    font-weight: bold;
}

.main-content>.header>div>h3+.dropdown>button {
    font-size: 1.3rem;
}

.main-content>.header+.submenu .submenu-content {
    margin-right: 10px;
    margin-left: 10px;
}

.main-content>.header>.menu-action {
    margin: auto;
}

.main-content>.filter, .main-content>[obo-table], .card.filter, .main-content>[obo-filter] {
    box-shadow: none;
    border: none;
}

.main-content>.filter .row.child-form-group-margin-bottom-0rem>[class*=col-]>.form-group {
    margin-bottom: 0rem;
}

.btn-rounded-deep.min-width-6rem {
    min-width: 6rem;
}

.font-size-15rem {
    font-size: 1rem;
}

*::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #858b8f;
}

*:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #858b8f;
    opacity: 1;
}

*::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #858b8f;
    opacity: 1;
}

*:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #858b8f;
}

.margin-top-30 {
    margin-top: 30px;
}

.font-size-13px {
    font-size: 13px;
}

.showSweetAlert h2 {
    font-size: 18px;
}

.showSweetAlert p.lead {
    font-size: 16px;
}

.margin-top-5 {
    margin-top: 5px;
}

.col-sm-6 .form-group {
    margin-bottom: 4px;
}

.row .col* .form-group {
    margin-bottom: 5px;
}

.form-control-feedback {
    position: absolute;
    top: 11px;
    right: 22px;
    display: block;
}

.help-block {
    color: red;
}

#loader-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1100;
    background-color: rgba(0, 0, 0, 0.6);
}

#loader-wrapper>.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 1;
    color: white;
}

.select2-container {
    width: 100%!important;
}

.form-control option {
    text-transform: capitalize;
}

.paging>button>img {
    width: 14px;
}

.hide {
    display: none!important;
}

.btn-sorting {
    padding: 0rem;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 2rem;
    line-height: inherit;
    position: relative;
}

.btn-sorting>i {
    position: absolute;
    left: 0.7rem;
}

.btn-sorting>i:first-child {
    top: 0rem;
}

.btn-sorting>i:last-child {
    bottom: 0rem;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-group-addon:last-child {
    min-width: 44px;
}

.materialpdf::after {
    content: "Material Safety Data Sheet (.pdf)"!important;
}

.ui-autocomplete {
    z-index: 9000!important;
}

.noerrormessageshow.has-error .help-block {
    display: none!important
}

@media (min-width: 768px) {
    .modal-lg.custom-modal-lg {
        width: 1130px;
    }
}

.sidebar-menu-button:not(:only-child):before {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f077";
    position: absolute;
    right: 18.75px;
    display: block;
    top: 14px;
}

.open>.sidebar-menu-button:not(:only-child):before {
    content: "\f078";
}

p {
    margin-bottom: 0px;
}

.calendar {
    border-left: 0px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    padding-bottom: 5px;
    background-color: #ffffff;
}

.cropit-preview {
    background-color: #f8f8f8;
    background-size: cover;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 7px;
    width: 840px;
    height: 400px;
}

.cropit-preview-image-container {
    cursor: move;
}

.image-size-label {
    margin-top: 10px;
}

.cropit-image-zoom-input {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    position: absolute;
    right: -41px;
    top: 81px;
}
.sidebar-submenu .sidebar-menu-button{
    font-size: 13px;
}

.file-custom.emptyafter::after{
    content: '';
}
