<!-- scripts/app/customers/modaldialogeditfilter -->
<div class="modal-dialog modal-lg custom-modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title text-muted">Edit Filter
                <div class="h7">Pick 5 filters</div>
            </h5>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterProductNumber" name="ProductNumber">
                        <label for="FilterProductNumber">Product Number</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterProductCategory" name="ProductCategory">
                        <label for="FilterProductCategory">Product Category</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterProductName" name="ProductName">
                        <label for="FilterProductName">Product Name</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterProductCode" name="ProductCode">
                        <label for="FilterProductCode">Product Code</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterProductDescription" name="ProductDescription">
                        <label for="FilterProductDescription">Product Description</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterCustomerID" name="CustomerID">
                        <label for="FilterCustomerID">Customer</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterBrand" name="Brand">
                        <label for="FilterBrand">Brand</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterMadeIn" name="MadeIn">
                        <label for="FilterMadeIn">Made In</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterSupplier" name="Supplier">
                        <label for="FilterSupplier">Supplier</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterSKU" name="SKU">
                        <label for="FilterSKU">SKU</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterManufacturer" name="Manufacturer">
                        <label for="FilterManufacturer">Manufacturer</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterManufacturerProductName" name="ManufacturerProductName">
                        <label for="FilterManufacturerProductName">Manufacturer Product Name</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterManufacturerProductCode" name="ManufacturerProductCode">
                        <label for="FilterManufacturerProductCode">Manufacturer Product Code</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterManufactureLeadTimeID" name="ManufactureLeadTimeID">
                        <label for="FilterManufactureLeadTimeID">Manufacturer Lead Time</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterSKUTypeID" name="SKUTypeID">
                        <label for="FilterSKUTypeID">SKU Type</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterProductPackUnitID" name="ProductPackUnitID">
                        <label for="FilterProductPackUnitID">Product Pack Unit</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterStorageChargeUnit" name="StorageChargeUnit">
                        <label for="FilterStorageChargeUnit">Storage Charge Unit</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterStorageChargePer" name="StorageChargePer">
                        <label for="FilterStorageChargePer">Storage Charge Per</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterTransportChargeUnit" name="TransportChargeUnit">
                        <label for="FilterTransportChargeUnit">Transport Charge Unit</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterLength" name="Length">
                        <label for="FilterLength">Length</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterWidth" name="Width">
                        <label for="FilterWidth">Width</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterHeight" name="Height">
                        <label for="FilterHeight">Height</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterCubicMetres" name="CubicMetres">
                        <label for="FilterCubicMetres">Cubic Metres</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterWeight" name="Weight">
                        <label for="FilterWeight">Weight</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterUnitValue" name="UnitValue">
                        <label for="FilterUnitValue">Unit Value</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterProductColor" name="ProductColor">
                        <label for="FilterProductColor">Product Color</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterDangerousGoods" name="IsDangerousGoods">
                        <label for="FilterDangerousGoods">Dangerous Goods</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterIsFragileGoods" name="IsFragileGoods">
                        <label for="FilterIsFragileGoods">Fragile Goods</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterIsPerishableGoods" name="IsPerishableGoods">
                        <label for="FilterIsPerishableGoods">Perishable Goods</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterIsTemperatureSensitive" name="IsTemperatureSensitive">
                        <label for="FilterIsTemperatureSensitive">Temperature Sensitive</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterMinimumStockLevel" name="MinimumStockLevel">
                        <label for="FilterMinimumStockLevel">Minimum Stock Level</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey pull-xs-right" obo-save>SAVE</button>
            <button ty[e="button" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey pull-xs-right" data-dismiss="modal">CANCEL</button>
        </div>
    </div>
</div>
