<!--scripts/app/administration/roles/template-->
<div class="row header">
    <div class="col-md-10">
        <h4>Roles List</h4>
        <div class="dropdown">
            <button class="btn btn-link dropdown-toggle text-muted padding-left-0rem" type="button" id="filter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filter
            </button>
            <div class="dropdown-menu" aria-labelledby="filter">
                <button class="btn dropdown-item text-muted" type="button" obo-defaultfilter>Default</button>
                <button class="btn dropdown-item text-muted" type="button" obo-showeditfilters>Edit Filters</button>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 menu-action">
        <a href="<%= _getCurrentHash() %>/add" class="btn btn-primary btn-rounded-deep pull-xs-right"><i class="fa fa-plus" aria-hidden="true"></i> ADD ROLE</a>
    </div>
</div>

<div class="card filter" obo-filter>
    <div class="card-block">
        <!-- scripts/app/storage/warehouse/filter -->
        <form class="row child-form-group-margin-bottom-0rem">
            <div class="col-md-2" data-filter-name="Role">
                <div class="form-group">
                    <label class="sr-only" for="Role">Role</label>
                    <input type="text" class="form-control" id="Address1" name="Role" placeholder="Role">
                </div>
            </div>
            <div class="col-md-6" data-filter-name="Description">
                <div class="form-group">
                    <label class="sr-only" for="Description">Description</label>
                    <input type="text" class="form-control" id="Address1" name="Description" placeholder="Description">
                </div>
            </div>
            <div class="col-md-2" data-filter-name="Status">
                <div class="form-group">
                    <label class="sr-only" for="Status">Status</label>
                    <select class="form-control select2-hidden-accessible" id="WarehouseOwnerName" name="WarehouseOwnerName" tabindex="-1" aria-hidden="true"><option></option><option value="1">Status</option></select>
                    <span class="select2 select2-container select2-container--bootstrap" dir="ltr" style="width: 212px;">
                        <span class="selection">
                            <span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-WarehouseOwnerName-container">
                                <span class="select2-selection__rendered" id="select2-WarehouseOwnerName-container">
                                    <span class="select2-selection__placeholder">Status</span>
                                </span>
                                <span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span>
                            </span>
                        </span>
                        <span class="dropdown-wrapper" aria-hidden="true"></span>
                    </span>
                </div>
            </div>
            <div class="col-md-2 pull-md-right" data-filter-type="reset">
                <div class="form-group center">
                    <button type="reset" class="btn btn-link" obo-clearfilter=""><i class="fa fa-times" aria-hidden="true"></i> Clear Filter</button>
                </div>
            </div>
        </form>
    </div>

</div>
<div class="card" obo-table>
</div>
<div obo-paging="">
</div>
