<header role="heading" class="ui-sortable-handle list">
    <h2>Inward Goods List</h2>
    <div class="btn-group">
        <a href="<%= _getCurrentHash() %>/add" class="btn btn-primary btn-sm">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </a>
        <button class="btn btn-default dropdown-toggle btn-sm" type="button" id="filter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-filter" aria-hidden="true"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="filter">
            <li obo-defaultfilter>
                <a href="javascript:void(0);">Default</a>
            </li>
            <li obo-showeditfilters>
                <a href="javascript:void(0);">Edit Filters</a>
            </li>
        </ul>
    </div>
</header>
<div class="card filter" obo-filter>
</div>
<div class="card" obo-table>
</div>
<div obo-paging>

</div>