<!-- scripts/app/storage/warehouse/detail/storage_location/filter -->
<form class="row child-form-group-margin-bottom-0rem">
    <div class="col-md-2 hide" data-filter-name="Building">
        <div class="form-group">
            <input type="text" class="form-control" name="Building" placeholder="Building">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="Isle">
        <div class="form-group">
            <input type="text" class="form-control" name="Isle" placeholder="Aisle">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="Bay">
        <div class="form-group">
            <input type="text" class="form-control" name="Bay" placeholder="Bay">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="Tier">
        <div class="form-group">
            <input type="text" class="form-control" name="Tier" placeholder="Tier">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="LocationCode">
        <div class="form-group">
            <input type="text" class="form-control" name="LocationCode" placeholder="Location Code">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="ZoneType">
        <div class="form-group">
            <select class="form-control" name="ZoneType">
            </select>
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="ZoneArea">
        <div class="form-group">
            <select class="form-control" name="ZoneArea">
            </select>
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="SKUType">
        <div class="form-group">
            <select class="form-control" id="SKUType" name="SKUType">
            <label class="sr-only" for="SKUType">SKU Type</label>
            </select>
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="MaxLength">
        <div class="form-group">
            <input type="text" class="form-control" name="MaxLength" placeholder="Maximum Length">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="MaxWidth">
        <div class="form-group">
            <input type="text" class="form-control" name="MaxWidth" placeholder="Maximum Width">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="MaxHeight">
        <div class="form-group">
            <input type="text" class="form-control" name="MaxHeight" placeholder="Maximum Height">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="MaxWeight">
        <div class="form-group">
            <input type="text" class="form-control" name="MaxWeightKgs" placeholder="Maximum Weight">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="MaxQuantity">
        <div class="form-group">
            <input type="text" class="form-control" name="MaxQuantity" placeholder="Maximum Quantity">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="IsActive">
        <div class="form-group">
            <select class="form-control" name="IsActive" getbyvalueonly="true"></select>
        </div>
    </div>
    <div class="col-md-2 pull-md-right" data-filter-type="reset">
        <div class="form-group center">
            <button type="reset" class="btn btn-link" obo-clearfilter> Clear Filter</button>
        </div>
    </div>
</form>
