<header class="ui-sortable-handle" role="heading">
    <h2>Add Customer</h2>
</header>
<div role="content">
    <div class="widget-body">
        <div class="container-fluid">
            <form class="row" obo-form>
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="CustomerName">Customer Name <i class="text-danger" aria-hidden="true">*</i></label>
                        <div class="col-sm-8">
                            <input class="form-control" id="CustomerName" name="CustomerName" type="text" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="CustomerTradingAs">Trading As</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="CustomerTradingAs" name="CustomerTradingAs" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="AccountNo">Account Number <i class="text-danger" aria-hidden="true">*</i></label>
                        <div class="col-sm-8">
                            <input class="form-control" id="AccountNo" name="AccountNo" type="text" pattern=".{2,}" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="CustomerABN">ABN</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="CustomerABN" name="CustomerABN">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="CustomerACN">ACN</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="CustomerACN" name="CustomerACN">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="AccountOwnerID">Account Owner <i class="text-danger" aria-hidden="true">*</i></label>
                        <div class="col-sm-8">
                            <select class="form-control select2" id="AccountOwnerID" name="AccountOwnerID" style="width=100%;" required>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="DateStart">Date Started</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input class="form-control" id="DateStart" name="DateStart">
                                <span class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="Tags">Tags</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <select class="form-control select2" id="Tags" name="TagsValue"></select>
                                <!-- <input class="form-control" id="Tags" name="Tags"> -->
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" obo-addtags><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="Phone">Phone Number</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="Phone" name="Phone">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="Mobile">Mobile Number</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="Mobile" name="Mobile">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="Fax">Fax Number</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="Fax" name="Fax">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="PaymentTermID">Account Terms <i class="text-danger" aria-hidden="true">*</i></label>
                        <div class="col-sm-8">
                            <select class="form-control" id="PaymentTermID" name="PaymentTermID" required></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="CreditLimit">Credit Limit <i class="text-danger" aria-hidden="true">*</i></label>
                        <div class="col-sm-3">
                            <select class="form-control" id="Currency" name="Currency" required></select>
                        </div>
                        <div class="col-sm-5">
                            <input type="number" placeholder="0" class="form-control" id="CreditLimit" name="CreditLimit" type="number" pattern=".{2,}" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="InvoiceEmail">Invoice Email Address</label>
                        <div class="col-sm-8">
                            <input type="email" class="form-control" id="InvoiceEmail" name="InvoiceEmail">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="FreightPayableID">Freight Payable by</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="FreightPayableID" name="FreightPayableID"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="PodEmail">POD Email Address</label>
                        <div class="col-sm-8">
                            <input type="email" class="form-control" id="PodEmail" name="PodEmail">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="Status">Status</label>
                        <div class="col-sm-8">
                            <p class="form-control-static">Active</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group row">
                        <div class="col-sm-10 col-sm-offset-2">
                            <input class="form-control" name="TagName">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 pull-right">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-success" data-style="expand-right" obo-dosave><span class="ladda-label">Save</span></button>
                        <a href="<%= _getCurrentHashOmitSuffix(1) %>" class="btn btn-default">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>