<div class="modal-dialog">  
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-muted">Edit Filter <small class="padding-sm">Pick 5 filters</small>
                </h5>
            </div>
            <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="checkbox">
                            <label for="FilterBuilding">
                        <input type="checkbox" class="styled" id="FilterBuilding" name="Building">
                        Building</label>
                    </div>
                    <div class="checkbox">
                            <label >
                        <input type="checkbox" class="styled" id="FilterAisle" name="Isle">
                        Aisle</label>
                    </div>
                    <div class="checkbox">
                            <label >
                        <input type="checkbox" class="styled" id="FilterBay" name="Bay">
                        Bay</label>
                    </div>
                    <div class="checkbox">
                            <label >
                        <input type="checkbox" class="styled" id="FilterTier" name="Tier">
                        Tier</label>
                    </div>
                    <div class="checkbox">
                            <label >
                        <input type="checkbox" class="styled" id="FilterLocationCode" name="LocationCode">
                        Location Code</label>
                    </div>
                    <div class="checkbox">
                            <label >
                        <input type="checkbox" class="styled" id="FilterZoneType" name="ZoneType">
                        Zone Type</label>
                    </div>
                    <div class="checkbox">
                            <label >
                        <input type="checkbox" class="styled" id="FilterZoneArea" name="ZoneArea">
                        Zone Areas</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="checkbox">
                            <label >
                        <input type="checkbox" class="styled" id="FilterSKUType" name="SKUType">
                        SKU Type</label>
                    </div>
                    <div class="checkbox">
                            <label >
                        <input type="checkbox" class="styled" id="FilterMaximumLength" name="MaxLength">
                        Maximum Length</label>
                    </div>
                    <div class="checkbox">
                            <label >
                        <input type="checkbox" class="styled" id="FilterMaximumWidth" name="MaxWidth">
                        Maximum Width</label>
                    </div>
                    <div class="checkbox">
                            <label >
                        <input type="checkbox" class="styled" id="FilterMaximumHeight" name="MaxHeight">
                        Maximum Height</label>
                    </div>
                    <div class="checkbox">
                            <label >
                        <input type="checkbox" class="styled" id="FilterMaximumWeight" name="MaxWeight">
                        Maximum Weight</label>
                    </div>
                    <div class="checkbox">
                            <label >
                        <input type="checkbox" class="styled" id="FilterMaximumQuantity" name="MaxQuantity">
                        Maximum Quantity</label>
                    </div>
                    <div class="checkbox">
                            <label >
                        <input type="checkbox" class="styled" id="FilterStatusStorageLocation" name="IsActive" getbyvalueonly="true">
                        Status</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
                <button type="button" class="btn btn-success" obo-save>Save</button>
                <button ty[e="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
    </div>
</div>
