<!-- scripts/app/storage/warehouse/modaldialogeditfilter -->
<div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title text-muted">Edit Filter
                <div class="h7">Pick 5 filters</div>
            </h5>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterWarehouseOwner" name="WarehouseOwnerName">
                        <label for="FilterWarehouseOwner">Warehouse Owner</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterWarehouseName" name="WarehouseName">
                        <label for="FilterWarehouseName">Warehouse Name</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterAddress1" name="Address1">
                        <label for="FilterAddress1">Address 1</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterAddress2" name="Address2">
                        <label for="FilterAddress2">Address 2</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterCountry" name="Country">
                        <label for="FilterCountry">Country</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterPostCode" name="PostCode">
                        <label for="FilterPostCode">Post Code</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterState" name="State">
                        <label for="FilterState">State</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterCity" name="City">
                        <label for="FilterCity">City</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterPhoneNumber" name="Phone">
                        <label for="FilterPhoneNumber">Phone Number</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterFaxNumber" name="Fax">
                        <label for="FilterFaxNumber">Fax Number</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterEmailAddress" name="Email">
                        <label for="FilterEmailAddress">Email Address</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterManagementType" name="ManagementType">
                        <label for="FilterManagementType">Management Type</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterWarehouseDescription" name="WarehouseDescription">
                        <label for="FilterWarehouseDescription">Warehouse Description</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterWarehouseManager" name="WarehouseManagerName">
                        <label for="FilterWarehouseManager">Warehouse Manager</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterWarehouseManagerFaxNumber" name="WarehouseManagerFax">
                        <label for="FilterWarehouseManagerFaxNumber">WM Fax Number</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterWarehouseManagerEmailAddress" name="WarehouseManagerEmail">
                        <label for="FilterWarehouseManagerEmailAddress">WM Email Address</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterIsActive" name="IsActive">
                        <label for="FilterIsActive">Status</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey pull-xs-right" obo-save>SAVE</button>
            <button ty[e="button" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey pull-xs-right" data-dismiss="modal">CANCEL</button>
        </div>
    </div>
</div>
