<!-- scripts\app\customers\ -->

<div class="row header">
    <div class="col-md-10">
        <h4 style="visibility: hidden">empty</h4>
        <div class="dropdown">
            <button class="btn btn-link dropdown-toggle text-muted padding-left-0rem" type="button" id="filter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filter
            </button>
            <div class="dropdown-menu" aria-labelledby="filter">
                <button class="btn dropdown-item text-muted" type="button" obo-defaultfilter>Default</button>
                <button class="btn dropdown-item text-muted" type="button" obo-showeditfilters>Edit Filters</button>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 menu-action">
        <a href="<%= _getCurrentHash() %>/add" class="btn btn-primary btn-rounded-deep pull-xs-right"><i class="fa fa-plus" aria-hidden="true"></i> ADD STORAGE LOCATION</a>
    </div>
</div>
<div class="card filter" obo-filter>
</div>

<div class="card filter" obo-table>
</div>
<div obo-paging>
</div>
