<nav>
    <ul>
        <li>
            <a href="#dashboard" title="Dashboard">
              <span>Dashboard</span>
            </a>
        </li>
        <li>
            <a title="Master Data" href="#">
              <span class="menu-item-parent">Master Data</span>
            </a>
            <ul>
                <li>
                    <a href="#master_data/customers" title="Customers">
                      <span>Customers</span>
                    </a>
                </li>
                <li>
                    <a href="#master_data/products" title="Products">
                      <span>Products</span>
                    </a>
                </li>
                <li>
                    <a href="#master_data/warehouse" title="Warehouse">
                      <span>Warehouse</span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#storage/inward_goods" title="Inward Goods">
              <span>Inward Goods</span>
            </a>
        </li>
    </ul>
</nav>