<thead>
    <tr class="bg-blue">
        <th>DATE <span class="pull-right" data-parampaging-sortfield="Date"></th>
        <th>PRODUCT NAME <span class="pull-right" data-parampaging-sortfield="Productname"></th>
        <th>INWARD GOODS <span class="pull-right" data-parampaging-sortfield="InawardGoods"></th>
        <th>OUTWARD GOODS <span class="pull-right" data-parampaging-sortfield="OutwardGoods"></th>
        <th>STOCK BALANCE <span class="pull-right" data-parampaging-sortfield="StockBalance"></th>
    </tr>
</thead>
<tbody></tbody>
