<div class="row">
    <div class="col">
        <a href="<%= _getCurrentHashOmitSuffix(1) %>/product_profile" class="bs-callout-active">
            <div class="card ">
                <div class="card-block">
                    <h6 class="middle-card">Product Profile</h6>
                </div>
            </div>
        </a>
    </div>
    <div class="col">
        <a href="<%= _getCurrentHashOmitSuffix(1) %>/orders" class="bs-callout" onclick="event.preventDefault()" style="cursor: context-menu;" title="not yet released">
            <div class="card ">
                <div class="card-block">
                    <h6 class="middle-card">Orders</h6>
                </div>
            </div>
        </a>
    </div>
    <div class="col">
        <a href="<%= _getCurrentHashOmitSuffix(1) %>/stock_balance" class="bs-callout" onclick="event.preventDefault()" style="cursor: context-menu;" title="not yet released">
            <div class="card ">
                <div class="card-block">
                    <h6 class="middle-card">Stock Balance</h6>
                </div>
            </div>
        </a>
    </div>
    <div class="col">
        <a href="<%= _getCurrentHashOmitSuffix(1) %>/stock_transfers" class="bs-callout" onclick="event.preventDefault()" style="cursor: context-menu;" title="not yet released">
            <div class="card ">
                <div class="card-block">
                    <h6 class="middle-card">Stock Transfers</h6>
                </div>
            </div>
        </a>
    </div>
</div>
