<div class="row">
    <div class="col-md-6">
        <div class="form-group row">
            <label class="col-md-4 col-form-label">Customer Number</label>
            <div class="col-md-8">
                <p class="form-control-static text-muted">
                    <%= CustomerNo %>
                </p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label">Customer Name</label>
            <div class="col-md-8">
                <p class="form-control-static text-muted">
                    <%= CustomerName %>
                </p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label">Trading As</label>
            <div class="col-md-8">
                <p class="form-control-static text-muted">
                    <%= CustomerTradingAs %>
                </p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label">Account Number</label>
            <div class="col-md-8">
                <p class="form-control-static text-muted">
                    <%= AccountNo %>
                </p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label">ABN</label>
            <div class="col-md-8">
                <p class="form-control-static text-muted">
                    <%= CustomerABN %>
                </p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label" for="acn">ACN</label>
            <div class="col-md-8">
                <p class="form-control-static text-muted">
                    <%= CustomerACN %>
                </p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label">Account Owner</label>
            <div class="col-md-8">
                <p class="form-control-static text-muted">
                    <%= AccountOwner.AccountName %>
                </p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label">Date Started</label>
            <div class="col-md-8">
                <p class="form-control-static text-muted">
                    <% if (DateStart) { print(moment(DateStart, ["YYYYMMDD"]).format('LL'));}%>
                </p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label" for="tags">Tags</label>
            <div class="col-md-8">
                <% _.each(ListCustomerTag, function(model) { %>
                    <p class="label label-default">
                        <%= model.TagName %>
                    </p>
                    <% }) %>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group row">
            <label class="col-md-4 col-form-label">Phone Number</label>
            <div class="col-md-8">
                <p class="form-control-static text-muted">
                    <%= Phone %>
                </p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label">Mobile Number</label>
            <div class="col-md-8">
                <p class="form-control-static text-muted">
                    <%= Mobile %>
                </p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label">Fax Number</label>
            <div class="col-md-8">
                <p class="form-control-static text-muted">
                    <%= Fax %>
                </p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label">Account Terms </label>
            <div class="col-md-8">
                <p class="form-control-static text-muted">
                    <%= PaymentTerm.PaymentTermName %>
                </p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label">Credit Limit</label>
            <div class="col-md-8">
                <p class="form-control-static text-muted">
                    <%= Currency %>
                        <%= CreditLimit %>
                </p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label">Invoice Email Address</label>
            <div class="col-md-8">
                <p class="form-control-static text-muted">
                    <%= InvoiceEmail %>
                </p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label">Freight Payable by</label>
            <div class="col-md-8">
                <p class="form-control-static text-muted">
                    <% print(FreightPayable && FreightPayable.FreightPayableName); %>
                </p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label">POD Email Address</label>
            <div class="col-md-8">
                <p class="form-control-static text-muted">
                    <%= PodEmail %>
                </p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label">Status</label>
            <div class="col-md-8">
                <p class="form-control-static <% print(IsActive ? 'text-success':'text-warning') %>">
                    <% print(IsActive ? 'Active':'Not Active') %>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12 text-md-right">
        <a href="<%= _getCurrentHash() %>/edit" class="btn btn-primary">Edit</a>
    </div>
</div>