<!-- scripts/app/configuration/sub_contractors/add/template -->
<h1 class="page-header">Add Sub Contractors</h1>

<div class="card">
  <form class="card-block row">
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-form-label col-md-4">Warehouse Owner<i class="text-danger">*</i></label>
        <div class="col-md-4">
            <div class="radio radio-info">
              <input type="radio" name="1" value="1" checked="" required>
              <label>Customer</label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="radio radio-info">
              <input type="radio" name="1" value="1" required>
              <label>Other</label>
            </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-md-4"></label>
        <div class="col-md-4">
          <input class="form-control form-control-lg" placeholder="First Name">
        </div>
        <div class="col-md-4">
          <input class="form-control form-control-lg" placeholder="Last Name">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-md-4">Warehouse Name<i class="text-danger">*</i></label>
        <div class="col-md-8">
          <input class="form-control form-control-lg" placeholder="">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-md-4">Address 1<i class="text-danger">*</i></label>
        <div class="col-md-8">
          <input class="form-control form-control-lg" placeholder="">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-md-4">Address 2</label>
        <div class="col-md-8">
          <input class="form-control form-control-lg" placeholder="">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-md-4"></label>
        <div class="col-md-8">
          <select class="form-control form-control-lg">
            <option value="1">Select Country<i class="text-danger">*</i></option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-md-4"></label>
        <div class="col-md-4">
            <input class="form-control form-control-lg" placeholder="Postcode*">
        </div>
        <div class="col-md-4">
            <input class="form-control form-control-lg" placeholder="State*">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-md-4"></label>
        <div class="col-md-8">
          <input class="form-control form-control-lg" placeholder="City*">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-md-4">Phone Number</label>
        <div class="col-md-8">
          <input class="form-control form-control-lg" placeholder="">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-md-4">Fax Number</label>
        <div class="col-md-8">
          <input class="form-control form-control-lg" placeholder="">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-md-4">Email Address</label>
        <div class="col-md-8">
          <input class="form-control form-control-lg" placeholder="">
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-form-label col-md-4">Management Type<i class="text-danger">*</i></label>
        <div class="col-md-8">
          <select class="form-control form-control-lg">
            <option value="1">Select Management Type</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-md-4">Warehouse Description<i class="text-danger">*</i></label>
        <div class="col-md-8">
          <textarea rows="3" class="form-control form-control-lg" placeholder=""></textarea>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-md-4">Warehouse Manager<i class="text-danger">*</i></label>
        <div class="col-md-4">
          <input class="form-control form-control-lg" placeholder="First Name">
        </div>
        <div class="col-md-4">
          <input class="form-control form-control-lg" placeholder="Last Name">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-md-4">WM Phone Number</label>
        <div class="col-md-8">
          <input class="form-control form-control-lg" placeholder="">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-md-4">WM Fax Number</label>
        <div class="col-md-8">
          <input class="form-control form-control-lg" placeholder="">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-md-4">WM Email Address</label>
        <div class="col-md-8">
          <input class="form-control form-control-lg" placeholder="">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-md-4">Status</label>
        <div class="col-md-8">
          <p>Active</p>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <a class="btn btn-secondary btn-rounded-deep btn-blues-hover text-grey pull-right">SAVE</a>
      <a class="btn btn-secondary btn-rounded-deep btn-blues-hover text-grey pull-right" href="<%= _getCurrentHashOmitSuffix(1) %>">CANCEL</a>
    </div>

  </form>
</div>
