<td>
    <%= ProductName %>
</td>
<td>
    <%= Quantity %>
</td>
<td>
    <%= PickingLocation %>
</td>
<td>
     <%= DispatchLocation %>
</td>
<td>
    <%= PickingDate %>
</td>
<td>
    <a href="<%= _getCurrentHash() %>/detail/<%= PickingID %>/warehouse_profile" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey">View</a>
</td>
