<thead>
    <tr class="bg-blue">
        <th>PRODUCT NAME <span class="pull-right" data-parampaging-sortfield="ProductName"></span></th>
        <th>QUANTITY <span class="pull-right" data-parampaging-sortfield="Quantity"></span></th>
        <th>PICKING LOCATION <span class="pull-right" data-parampaging-sortfield="PickingLocation"></span></th>
        <th>DISPATCH LOCATION <span class="pull-right" data-parampaging-sortfield="DispatchLocation"></span></th>
        <th>PICKING DATE <span class="pull-right" data-parampaging-sortfield="PickingDate"></span></th>
        <th>ACTION</th>
    </tr>
</thead>
<tbody></tbody>
