<!-- scripts\app\storage\warehouse\detail -->
<div class="row header">
    <div class="col-lg-12">
        <h4 name="WarehouseName"></h4>
        <!-- <h4 name="Title" style="min-height:1.5rem;"></h4> -->
    </div>
</div>
<div class="row submenu">
    <div class="col-lg-12" obo-menu>
    </div>
</div>
<div class="card filter">
    <div class="card-block" obo-content>
    </div>
</div>
