<!-- scripts/app/customers/detail/Contact/add -->

<div class="row">
    <div class="col-md-12">
        <h4>Add Stock Transfer</h4>
    </div>
</div>
<div class="card filter">
    <div class="card-block">
        <form class="container-fluid" obo-form>
            <div class="col-sm-6">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="InsertDate">Date <i class="text-danger" aria-hidden="true">*</i></label>
                    <div class="input-group col-sm-8">
                      <input class="form-control" id="InsertDate" name="InsertDate" required>
                      <span class="input-group-btn">
                        <button class="btn btn-secondary calendar" type="button"><span class="fa fa-calendar"></span></button>
                      </span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="ProductID">Product Name <i class="text-danger" aria-hidden="true">*</i></label>
                    <div class="col-sm-8">
                        <select class="form-control" id="ProductID" name="ProductID" required>
                            <option></option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="SourceLocationID">Source <i class="text-danger" aria-hidden="true">*</i></label>
                    <div class="col-sm-4">
                        <input class="form-control" id="SourceLocationID" value-WarehouseName="<%= StorageWarehouse.WarehouseID %>" placeholder="<%= StorageWarehouse.WarehouseName %>" disabled="disabled">
                    </div>
                    <div class="col-sm-4">
                        <input class="form-control" id="WarehouseLocation1" name="SourceLocationID" value-LocationCode="<%= StorageLocationID %>" placeholder="<%= LocationCode %>" disabled="disabled">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="DestinationLocationID">Destination <i class="text-danger" aria-hidden="true">*</i></label>
                    <div class="col-sm-4">
                        <select class="form-control" id="DestinationLocationID" name="DestinationLocationID" required>
                            <option></option>
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <select class="form-control" id="Source2" name="WarehouseLocation2" required>
                            <option></option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="SourceStockAvailable">Source Stock Available</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="SourceStockAvailable" name="SourceStockAvailable" disabled="disabled" value="10">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="DestinationStockAvailable">Destination Stock Available</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="DestinationStockAvailable" name="DestinationStockAvailable" disabled="disabled" value="30">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="Qty">Transfer Quantity <i class="text-danger" aria-hidden="true">*</i></label>
                    <div class="col-sm-8">
                        <input type="number" class="form-control" id="Qty" name="Qty" required max="10">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
            </div>
            <div class="col-sm-12 pull-right">
                <div class="pull-right">
                    <a href="<%= _getCurrentHashOmitSuffix(1) %>" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey">CANCEL</a>
                    <button type="submit" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey" data-style="expand-right" obo-dosave><span class="ladda-label">SAVE</span></button>
                </div>
            </div>
        </form>
    </div>
</div>
