<td>
    <% print(WarehouseOwner && WarehouseOwner.AccountName) %>
</td>
<td>
    <%= WarehouseName %>
</td>
<td>
    <%= Address1 %>
</td>
<td>
     <% print(WarehouseManager && WarehouseManager.WarehouseManagerName) %>
</td>
<td>
    <% print(IsActive ? 'Active' : 'Not Active'); %>
</td>
<td>
    <a href="<%= _getCurrentHash() %>/detail/<%= WarehouseID %>/warehouse_profile" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey">View</a>
</td>
