<td>
    <%= Role %>
</td>
<td>
    <%= DateCreated %>
</td>
<td>
    <%= UserExparation %>
</td>
<td>
     <%= EmailAddress %>
</td>
<td>
    <%= Status %>
</td>
<td>
    <a href="<%= _getCurrentHash() %>/detail/<%= UsersID %>/warehouse_profile" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey">View</a>
</td>
