<!-- scripts/app/product/filter -->
<form class="row child-form-group-margin-bottom-0rem">
    <div class="col-md-2 hide" data-filter-name="ProductNumber">
        <div class="form-group">
            <label class="sr-only" for="ProductNumber">Product Number</label>
            <input type="text" class="form-control" id="ProductNumber" name="ProductNumber" placeholder="Product Number">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="ProductCategory">
        <div class="form-group">
            <label class="sr-only">Product Category</label>
            <select class="form-control" id="ProductCategory" name="ProductCategory"></select>
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="ProductName">
        <div class="form-group">
            <label class="sr-only" for="ProductName">Product Name</label>
            <input type="text" class="form-control" id="ProductName" name="ProductName" placeholder="Product Name">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="ProductCode">
        <div class="form-group">
            <label class="sr-only" for="ProductCode">Product Code</label>
            <input type="text" class="form-control" id="ProductCode" name="ProductCode" placeholder="Product Code">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="ProductDescription">
        <div class="form-group">
            <label class="sr-only" for="ProductDescription">Product Description</label>
            <input type="text" class="form-control" id="ProductDescription" name="ProductDescription" placeholder="Product Description">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="CustomerID">
        <div class="form-group">
            <label class="sr-only">Customer</label>
            <select class="form-control" id="CustomerID" name="CustomerID">
                <option selected disabled>Customer</option>
            </select>
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="Brand">
        <div class="form-group">
            <label class="sr-only" for="Brand">Brand</label>
            <input type="text" class="form-control" id="Brand" name="Brand" placeholder="Brand">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="MadeIn">
        <div class="form-group">
            <label class="sr-only">Made In</label>
            <input type="text" class="form-control" id="MadeIn" name="MadeIn" placeholder="Made In">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="Supplier">
        <div class="form-group">
            <label class="sr-only">Supplier</label>
            <input type="text" class="form-control" id="Supplier" name="Supplier" placeholder="Supplier">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="SKU">
        <div class="form-group">
            <label class="sr-only">SKU</label>
            <input type="text" class="form-control" id="SKU" name="SKU" placeholder="SKU">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="Manufacturer">
        <div class="form-group">
            <label class="sr-only">Manufacturer</label>
            <input type="text" class="form-control" id="Manufacturer" name="Manufacturer" placeholder="Manufacturer">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="ManufacturerProductName">
        <div class="form-group">
            <label class="sr-only">Manufacturer Product Name</label>
            <input type="text" class="form-control" id="ManufacturerProductName" name="ManufacturerProductName" placeholder="Manufacturer Product Name">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="ManufacturerProductCode">
        <div class="form-group">
            <label class="sr-only">Manufacturer Product Code</label>
            <input type="text" class="form-control" id="ManufacturerProductCode" name="ManufacturerProductCode" placeholder="Manufacturer Product Code">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="ManufactureLeadTimeID">
        <div class="form-group">
            <label class="sr-only">Manufacturer Lead Time</label>
            <select class="form-control" id="ManufactureLeadTimeID" name="ManufactureLeadTimeID"></select>
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="SKUTypeID">
        <div class="form-group">
            <label class="sr-only">SKU Type</label>
            <select class="form-control" id="SKUTypeID" name="SKUTypeID"></select>
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="ProductPackUnitID">
        <div class="form-group">
            <label class="sr-only">Product Pack Unit</label>
            <select class="form-control" id="ProductPackUnitID" name="ProductPackUnitID"></select>
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="StorageChargeUnit">
        <div class="form-group">
            <label class="sr-only">Storage Charge Unit</label>
            <select class="form-control" id="StorageChargeUnit" name="StorageChargeUnit">
                <option selected disabled>Storage Charge Unit</option>
            </select>
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="StorageChargePer">
        <div class="form-group">
            <label class="sr-only">Storage Charge Per</label>
            <select class="form-control" id="StorageChargePer" name="StorageChargePer">
                <option selected disabled>Storage Charge Per</option>
            </select>
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="TransportChargeUnit">
        <div class="form-group">
            <label class="sr-only">Transport Charge Unit</label>
            <select class="form-control" id="TransportChargeUnit" name="TransportChargeUnit">
                <option selected disabled>Transport Charge Unit</option>
            </select>
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="Length">
        <div class="form-group">
            <label class="sr-only">Length</label>
            <input type="text" class="form-control" id="Length" name="Length" placeholder="Length">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="Width">
        <div class="form-group">
            <label class="sr-only">Width</label>
            <input type="text" class="form-control" id="Width" name="Width" placeholder="Width">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="Height">
        <div class="form-group">
            <label class="sr-only">Height</label>
            <input type="text" class="form-control" id="Height" name="Height" placeholder="Height">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="CubicMetres">
        <div class="form-group">
            <label class="sr-only">Cubic Metres</label>
            <input type="text" class="form-control" id="CubicMetres" name="CubicMetres" placeholder="Cubic Metres">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="Weight">
        <div class="form-group">
            <label class="sr-only">Weight</label>
            <input type="text" class="form-control" id="Weight" name="Weight" placeholder="Weight">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="UnitValue">
        <div class="form-group">
            <label class="sr-only">Unit Value</label>
            <input type="text" class="form-control" id="UnitValue" name="UnitValue" placeholder="Unit Value">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="ProductColor">
        <div class="form-group">
            <label class="sr-only">Product Color</label>
            <input type="text" class="form-control" id="ProductColor" name="ProductColor" placeholder="Product Color">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="IsDangerousGoods">
        <div class="form-group">
            <label class="sr-only" for="IsDangerousGoods">Dangerous Goods</label>
            <select class="form-control" id="IsDangerousGoods" name="IsDangerousGoods" getbyvalueonly="true">
            </select>
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="IsFragileGoods">
        <div class="form-group">
            <label class="sr-only" for="IsFragileGoods">Fragile Goods</label>
            <select class="form-control" id="IsFragileGoods" name="IsFragileGoods" getbyvalueonly="true">
              <option selected disabled>Fragile Goods</option>
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select>
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="IsPerishableGoods">
        <div class="form-group">
            <label class="sr-only" for="IsPerishableGoods">Perishable Goods</label>
            <select class="form-control" id="IsPerishableGoods" name="IsPerishableGoods" getbyvalueonly="true">
              <option selected disabled>Perishable Goods</option>
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select>
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="IsTemperatureSensitive">
        <div class="form-group">
            <label class="sr-only" for="IsTemperatureSensitive">Temperature Sensitive</label>
            <select class="form-control" id="IsTemperatureSensitive" name="IsTemperatureSensitive" getbyvalueonly="true">
              <option selected disabled>Temperature Sensitive</option>
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select>
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="MinimumStockLevel">
        <div class="form-group">
            <label class="sr-only">Minimum Stock Level</label>
            <input type="text" class="form-control" id="MinimumStockLevel" name="MinimumStockLevel" placeholder="Minimum Stock Level">
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group center">
            <button type="reset" class="btn btn-link" obo-clearfilter><i class="fa fa-times" aria-hidden="true"></i> Clear Filter</button>
        </div>
    </div>
</form>
