<li class="active">
    <a href="<%= _getCurrentHashOmitSuffix(1) %>/product_profile"><span>Product Profile</span></a>
</li>
<li>
    <a href="<%= _getCurrentHashOmitSuffix(1) %>/orders" onclick="event.preventDefault()"><span>Orders</span></a>
</li>
<li>
    <a href="<%= _getCurrentHashOmitSuffix(1) %>/stock_balance" onclick="event.preventDefault()"><span>Stock Balance</span></a>
</li>
<li>
    <a href="<%= _getCurrentHashOmitSuffix(1) %>/stock_transfers" onclick="event.preventDefault()"><span>Stock Transfers</span></a>
</li>
