<thead>
    <tr class="bg-blue">
        <th>DATE <span class="pull-right" data-parampaging-sortfield="Date"></th>
        <th>PRODUCT NAME <span class="pull-right" data-parampaging-sortfield="ProductName"></th>
        <th>STORAGE HISTORY <span class="pull-right" data-parampaging-sortfield="StorageHistory"></th>
        <th>ALTERATION DESCRIPTION <span class="pull-right" data-parampaging-sortfield="AlteredDescription"></th>
        <th>QUANTITY <span class="pull-right" data-parampaging-sortfield="Quantity"></th>
        <th class="center">ACTION</th>
    </tr>
</thead>
<tbody></tbody>
