<thead>
    <tr class="bg-blue">
        <th>ROLE <span class="pull-right" data-parampaging-sortfield="Role"></span></th>
        <th>DATE CREATED <span class="pull-right" data-parampaging-sortfield="DateCreated"></span></th>
        <th>USER EXPARATION <span class="pull-right" data-parampaging-sortfield="UserExparation"></span></th>
        <th>USED <span class="pull-right" data-parampaging-sortfield="Used"></span></th>
        <th>STATUS <span class="pull-right" data-parampaging-sortfield="Status"></span></th>
        <th>ACTION</th>
    </tr>
</thead>
<tbody></tbody>
