<td>
    <%= ProductName %>
</td>
<td>
    <%= ProductCode %>
</td>
<td>
    <%
    print( ( Customer && Customer.CustomerName ) || '');
    %>
</td>
<td class="text-default">
    <%
        print(IsDangerousGoods? 'Yes': 'No')
    %>
</td>
<td>
  <%= UnitValue %>
</td>
