<thead>
    <tr class="bg-blue">
      <th>Product Name <span  data-parampaging-sortfield="ProductName"></span></th>
        <th>Product Code <span data-parampaging-sortfield="ProductCode"></span></th>
        <th>Customer <span  data-parampaging-sortfield="CustomerName"></th>
        <th>Dangerous Goods <span  data-parampaging-sortfield="IsDangerousGoods"></span></th>
        <th>Unit Value <span  data-parampaging-sortfield="UnitValue"></span></th>
    </tr>
</thead>
<tbody></tbody>
