<!-- scripts/app/customers/detail/contacts/modaldialogeditfilter -->
<div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title text-muted">Edit Filter
                <div class="h7">Pick 5 filters</div>
            </h5>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterContactTypeName" name="ContactTypeName">
                        <label for="FilterContactTypeName">Contact Type</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterFirstName" name="FirstName">
                        <label for="FilterFirstName">First Name</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterLastName" name="LastName">
                        <label for="FilterLastName">Last Name</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterPhoneNumber" name="PhoneNumber">
                        <label for="FilterPhoneNumber">Phone Number</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterMobileNumber" name="MobileNumber">
                        <label for="FilterMobileNumber">Mobile Number</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterFaxNumber" name="FaxNumber">
                        <label for="FilterFaxNumber">Fax Number</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterEmail" name="Email">
                        <label for="FilterEmail">Email Address</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterWebsite" name="Website">
                        <label for="FilterWebsite">Website</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterSocialMediaName" name="SocialMediaName">
                        <label for="FilterSocialMediaName">Social Media</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterStatus" name="IsActive">
                        <label for="FilterStatus">Status</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey pull-xs-right" obo-save>SAVE</button>
            <button ty[e="button" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey pull-xs-right" data-dismiss="modal">CANCEL</button>
        </div>
    </div>
</div>
