/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */

body {
  padding-top: 50px;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */

.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */

.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    /* background-color: #f5f5f5; */
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */

.nav-sidebar {
  margin-right: -21px;
  /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}

.nav-sidebar>li>a {
  padding-right: 20px;
  padding-left: 20px;
}

.nav-sidebar>.active>a,
.nav-sidebar>.active>a:hover,
.nav-sidebar>.active>a:focus {
  /* color: #fff; */
  font-weight: bold;
}

/*
 * Main content
 */

.main {
  padding: 20px;
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.main .page-header {
  margin-top: 0;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}

.placeholders h4 {
  margin-bottom: 0;
}

.placeholder {
  margin-bottom: 20px;
}

.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.text-warning {
  color: #f0ad4e;
}

/* .btn {
    background-color: #F0F5F8;
    border-color: #EFf4f6;
} */

.btn-default {
  background-color: #f3f7ff;
}

.btn-round {
  border-radius: 20px;
}

.table thead tr {
  color: #8098a4;
  background-color: #e8f0f9;
}

.table tbody {
  background-color: white;
}

#navbar .nav.navbar-nav {
  margin-right: 15px;
}

.main {
  background-color: #F8F9FC;
}

.nav.nav-tabs~.tab-content>.tab-pane>.panel {
  border-top: 0;
}

.bg-purple {
  background: #ff0000;
}

.bg-white {
  background: #ecececf2 !important;
}

.bg-putih {
  background: #fff;
}

li[role="presentation"].active>a {
  font-weight: bold;
}

.circle-badge {
  border-radius: 50%;
  background-color: black;
  width: 2em;
  height: 2em;
  display: inline-block;
  color: white;
  text-align: -webkit-center;
  vertical-align: middle;
  padding-top: 0.3em;
  font-size: 1.5em;
}

.badge-top {
  position: fixed;
  top: 0.5rem;
}

.badge-warning {
  color: #fff;
  background-color: #ffc107;
}

.nav>li>a:focus {
  border-left: 5px solid #ffc107;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
  padding: 20px 10px;
  border-radius: 0;
  border: none;
  border-left: 5px solid #5589ff;
}

.nav-tabs>li>a {
  padding: 20px 10px;
}

.nav-tabs>li {
  margin: 0.5rem;
}

.nav-tabs>li>a:focus {
  border-left: 1px solid #ddd;
}

.d-flex {
  display: flex;
}

.flex-1 {
  flex-grow: 1;
}
.justify-content-between {
  justify-content: space-between;
}
.m-1 {
  margin: 1rem !important;
}

.mr-1 {
  margin-right: 1rem !important;
}
.mb-1 {
 margin-bottom: 1rem; 
}
.mb-4 {
  margin-bottom: 4rem;
}

.border-round-0 {
  border-radius: 0;
}

.border {
  border: 1px solid #dddddd;
}

.border-bottom-0 {
  border-bottom: 0;
}

.tab-content>.active {
  background: #fff;
}

.tab-content>.tab-pane {
  padding: 35px 20px;
  margin: 0.5rem;
}

.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.shadow {
  box-shadow: 0 2px 2px #ccc;
}