<thead>
    <tr class="bg-blue">
      <th>CONTACT TYPE <span class="pull-right" data-parampaging-sortfield="ContactTypeName"></th>
      <th>FIRST NAME <span class="pull-right" data-parampaging-sortfield="FirstName"></th>
      <th>LAST NAME <span class="pull-right" data-parampaging-sortfield="LastName"></th>
      <th>EMAIL ADDRESS <span class="pull-right" data-parampaging-sortfield="Email"></th>
      <th>STATUS <span class="pull-right" data-parampaging-sortfield="Status"></th>
      <th class="action center">ACTION</th>
    </tr>
</thead>
<tbody></tbody>
