<td>
    <%= LocationCode %>
</td>
<td>
    <%
    print( ( ZoneType && ZoneType.ZoneTypeName ) || '');
    %>
</td>
<td>
    <%
    print( ( ZoneArea && ZoneArea.ZoneAreaName ) || '');
    %>
</td>
<td class="text-default">
    <%
    print( ( SKUType && SKUType.SKUTypeName ) || '');
    %>
</td>
<td class="text-<% print(IsActive? 'success': 'default') %>">
    <%
        print(IsActive? 'Available': 'Unavailable')
    %>
</td>


