<thead>
    <tr class="bg-blue">
        <th> Location Code<span  data-parampaging-sortfield="LocationCode"></span></th>
        <th>Zone Type <span  data-parampaging-sortfield="ZoneTypeName"></span></th>
        <th>Zone Areas <span  data-parampaging-sortfield="ZoneAreaName"></span></th>
        <th>Sku Type <span  data-parampaging-sortfield="SKUTypeName"></span></th>
        <th>Status <span  data-parampaging-sortfield="IsActive"></span></th>

    </tr>
</thead>
<tbody></tbody>
