<!-- scripts/app/customers/add -->
<div class="row header">
    <div class="col-md-12">
        <h4>Add Order</h4>
    </div>
</div>
<div class="card filter">
    <div class="card-block">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="OrderNumber">Order Number</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="OrderNumber" name="OrderNumber" type="text" placeholder="Order Number">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="Date">Order Date</label>
                        <div class="input-group col-sm-8">
                          <input class="form-control" id="Date" name="Date" date>
                          <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button"><span class="fa fa-calendar"></span></button>
                          </span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="CancelDate">Cancel Date</label>
                        <div class="input-group col-sm-8">
                          <input class="form-control" id="CancelDate" name="CancelDate" date>
                          <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button"><span class="fa fa-calendar"></span></button>
                          </span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="ShipDate">Ship Date</label>
                        <div class="input-group col-sm-8">
                          <input class="form-control" id="ShipDate" name="ShipDate" date>
                          <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button"><span class="fa fa-calendar"></span></button>
                          </span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="ManufacturerProductCode">Warehouse</label>
                        <div class="col-sm-8">
                          <select class="form-control" id="Warehouse" name="Warehouse">
                              <option selected disabled>Warehouse Company 2</option>
                          </select>
                        </div>
                    </div>
                    <div class="form-group row">
                    </div>
                    <div class="form-group row">
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="ProductNumber">Product Number</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="ProductNumber" name="ProductNumber" type="text" placeholder="Product Number">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="SKU">SKU</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="SKU" name="SKU" type="text" placeholder="SKU">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="ProductItem">Product Item</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="ProductItem" name="ProductItem" type="text" placeholder="Product Item">
                        </div>
                    </div>
                    <div class="form-group row">
                    </div>
                    <div class="form-group row">
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="Price">Price</label>
                        <div class="col-sm-3">
                          <select class="form-control" id="Aud" name="Aud">
                              <option selected disabled>AUD$</option>
                          </select>
                        </div>
                        <div class="col-sm-5">
                            <input class="form-control" id="Price" name="Price" type="text" placeholder="Price">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="totalWiegthPieces">Weight / Pieces</label>
                        <div class="col-sm-5">
                            <input class="form-control" id="totalWiegthPieces" name="totalWiegthPieces" type="text" placeholder="24">
                        </div>
                        <div class="col-sm-3">
                          <select class="form-control" id="WiegthPiecesSelect" name="WiegthPiecesSelect">
                              <option selected disabled>pounds</option>
                          </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="totalWiegth">Total Weight</label>
                        <div class="col-sm-5">
                            <input class="form-control" id="totalWiegth" name="totalWiegth" type="text" placeholder="204">
                        </div>
                        <div class="col-sm-3">
                          <select class="form-control" id="WiegthSelect" name="WiegthSelect">
                              <option selected disabled>pounds</option>
                          </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="POD">POD</label>
                        <div class="col-sm-4 margin-top-5">
                          <label class="c-input c-checkbox">
                            <input type="checkbox">
                            <span class="c-indicator"></span>
                            Yes
                          </label>
                        </div>
                        <div class="col-sm-4 margin-top-5">
                          <label class="c-input c-checkbox">
                            <input type="checkbox">
                            <span class="c-indicator"></span>
                            No
                          </label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="Invoice">Invoice</label>
                        <div class="col-sm-4 margin-top-5">
                          <label class="c-input c-checkbox">
                            <input type="checkbox">
                            <span class="c-indicator"></span>
                            Yes
                          </label>
                        </div>
                        <div class="col-sm-4 margin-top-5">
                          <label class="c-input c-checkbox">
                            <input type="checkbox">
                            <span class="c-indicator"></span>
                            No
                          </label>
                        </div>
                    </div>
                    <div class="form-group row">
                    </div>
                    <div class="form-group row">
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="ShippingMethod">Shipping Method</label>
                        <div class="col-sm-8">
                          <select class="form-control" id="ShippingMethod" name="ShippingMethod">
                              <option selected disabled>Lorem Ipsum</option>
                          </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="ShippingCode">Shipping Code</label>
                        <div class="col-sm-8">
                          <select class="form-control" id="ShippingCode" name="ShippingCode">
                              <option selected disabled>Lorem Ipsum</option>
                          </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="TrackingNumber">Tracking Number</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="TrackingNumber" name="TrackingNumber" type="text" placeholder="12131412323896">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="BillingAddress">Billing Address</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="BillingAddress" name="BillingAddress" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="Country"></label>
                        <div class="col-sm-8">
                          <select class="form-control" id="Country" name="Country">
                              <option selected>Australia</option>
                          </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="BillingAddress">Post Code</label>
                        <div class="col-sm-4">
                            <input class="form-control" id="BillingAddress" name="PostCodeNumber" type="text">
                        </div>
                        <div class="col-sm-4">
                            <input class="form-control" name="PostCodeName" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label"></label>
                        <div class="col-sm-8">
                            <input class="form-control" name="PostCodeNameTwo" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                    </div>
                    <div class="form-group row">
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="ShippingAddress">Shipping Address</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="ShippingAddress" name="ShippingAddress" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="ShippingCountry"></label>
                        <div class="col-sm-8">
                          <select class="form-control" id="ShippingCountry" name="ShippingCountry">
                              <option selected>Australia</option>
                          </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="BillingAddress2">Post Code</label>
                        <div class="col-sm-4">
                            <input class="form-control" id="BillingAddress2" name="PostCodeNumber2" type="text">
                        </div>
                        <div class="col-sm-4">
                            <input class="form-control" name="PostCodeName2" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label"></label>
                        <div class="col-sm-8">
                            <input class="form-control" name="PostCodeName2" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                    </div>
                    <div class="form-group row">
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="FirstName">First Name</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="FirstName" name="FirstName" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="LastName">Last Name</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="LastName" name="LastName" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="PhoneNumber">Phone Number</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="PhoneNumber" name="PhoneNumber" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="FaxNumber">Fax Number</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="FaxNumber" name="FaxNumber" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="Email">E-mail</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="Email" name="Email" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                    </div>
                    <div class="form-group row">
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="SubTotalPrice">Sub Total Price</label>
                        <div class="col-sm-3">
                          <select class="form-control" name="SubTotalPriceAud">
                              <option selected disabled>AUD$</option>
                          </select>
                        </div>
                        <div class="col-sm-5">
                            <input class="form-control" id="SubTotalPrice" name="SubTotalPrice" type="text" placeholder="Sub Total Price">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="Tax">Tax</label>
                        <div class="col-sm-8">
                          <select class="form-control" name="Tax">
                              <option selected>AUD$</option>
                          </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="TotalPrice">Total Price</label>
                        <div class="col-sm-3">
                          <select class="form-control" id="TotalPriceAud" name="TotalPriceAud">
                              <option selected disabled>AUD$</option>
                          </select>
                        </div>
                        <div class="col-sm-5">
                            <input class="form-control" id="TotalPrice" name="TotalPrice" type="text" placeholder="Total Price">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 pull-right">
                    <div class="pull-right">
                        <a href="<%= _getCurrentHashOmitSuffix(1) %>" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey">CANCEL</a>
                        <button tyoe="button" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey" obo-dosave>SAVE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
